@import controllers.actions.LoginState

@(collection: master.Collection)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])

<div class="item item-center nftContainer">
    <div class="profileCover">
        <div class="profileCoverContainer skeletonLoadContainer" id="collectionUncompressedCoverImage_@collection.id">
            @if(loginState.fold("")(_.username) == collection.creatorId) {
                <div class="editCollectionCover" onclick="getForm(jsRoutes.controllers.CollectionController.uploadCollectionFilesForm('@collection.id'))">
                    <i class="bi bi-pencil iconDefault"></i>
                </div>
            }
            @collection.getCoverFileURL.fold {
                <div class="coverWithBg">
                    <img src="@routes.Assets.versioned("images/defaultCollectionCover.png")" class="bg"/>
                    <img src="@routes.Assets.versioned("images/defaultCollectionCover.png")" class="main"/>
                </div>
            } { uri =>
                <div class="coverWithBg">
                    <img src="@uri" class="bg"/>
                    <img src="@uri" class="main"/>
                </div>
                <script>
                        setSharableLink("@uri");
                </script>
            }
        </div>
    </div>
    <div class="profile-card">
        <div class="profiles-container">
            <div class="nft-list">
                <div class="nft-list-container">
                    <div id="nftsPerPage" class="row m-0 nftsPerPage">
                    </div>
                </div>
                    <!-- Loader -->
                <div class="loading">
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                </div>
                    <!-- End -->
            </div>
        </div>
    </div>
    <link href="@utilities.PublicResource.getVersionedRoute("stylesheets/explorer.css")"/>
    <script src="@utilities.PublicResource.getVersionedRoute("javascripts/nfts/loadMore.js")" type="text/javascript"></script>
    <script>
            loadFirstNFTs('@collection.id');
            window.onscroll = function () {
                loadArtNftOnScroll('@{collection.id}');
            }
            showLoader();
    </script>
</div>
