@import controllers.actions.LoginState
@import models.master.Collection

@(totalNFTs: Int, collection: Collection)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, optionalLoginState: Option[LoginState])

<div class="sticky-top item-sticky">
    <div class="card rightInfoCard">
        <div class="d-flex flex-column gap-1 mt-3">
            <div class="analysisTitle">@Messages(constants.View.COLLECTION_TOTAL_NFT_SOLD)</div>
            <div class="analysisValue">@utilities.NumericOperation.formatNumber(totalNFTs)</div>
        </div>
        <div class="d-flex flex-column gap-1 mt-3">
            <div class="analysisTitle">@Messages(constants.View.COLLECTION_ROYALTY_FEES)</div>
            <div class="analysisValue d-flex align-items-center justify-content-between">@utilities.NumericOperation.formatNumber(collection.royalty * 100)%
                @if(optionalLoginState.isDefined && optionalLoginState.get.username == collection.creatorId) {
                    <span><button onclick="getForm(jsRoutes.controllers.CollectionController.updateRoyaltyForm('@collection.id'))" class="p-0 lh-sm bg-transparent border-0">
                        <i class="bi bi-pencil iconDefault"></i>
                    </button></span>
                }
            </div>
        </div>
    </div>
</div>