@import models.master.Whitelist
@import views.html.base.buttons._
@import views.html.base.form._
@import views.profile.whitelist.companion.AcceptOrLeave

@(whitelist: Whitelist, maxReached: Boolean, acceptForm: Form[AcceptOrLeave.Data] = AcceptOrLeave.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<div class="modal-header mb-0">
    <h5 class="modal-title" id="staticBackdropLabel">@Messages(constants.View.WHITELIST_JOIN_TITLE)</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()">
                &times;
    </button>
</div>
<div class="whitelistInfo form-address-box">
    <div class="form-address-box-item">
        <span class="address-box-label">@Messages(constants.View.WHITELIST_NAME)</span>
        <span class="address-box-text">
            <span class="username-data">@whitelist.name</span>
        </span>
    </div>
    <div class="form-address-box-item">
        <span class="address-box-label">@Messages(constants.View.WHITELIST_DESCRIPTION)</span>
        <span class="address-box-text">
            <span class="username-data">@whitelist.description</span>
        </span>
    </div>
    <div class="form-address-box-item">
        <span class="address-box-label">@Messages(constants.View.WHITELIST_MAX_MEMBERS)</span>
        <span class="address-box-text">
            <span class="username-data">@whitelist.maxMembers</span>
        </span>
    </div>
    <div class="form-address-box-item">
        <span class="address-box-label">@Messages(constants.View.WHITELIST_START_EPOCH)</span>
        <span class="address-box-text">
            <span class="username-data" id="startDate">@whitelist.startEpoch</span>
        </span>
    </div>
    <div class="form-address-box-item">
        <span class="address-box-label">@Messages(constants.View.WHITELIST_END_EPOCH)</span>
        <span class="address-box-text">
            <span class="username-data" id="expiryDate">@whitelist.endEpoch</span>
        </span>
    </div>
</div>
<script src="@utilities.PublicResource.getVersionedRoute("javascripts/profile/whitelist.js")"></script>

@if(!maxReached) {
    <div class="d-flex justify-content-end horizontal-align">
        @commonForm(constants.Form.ACCEPT_WHITELIST_INVITE, acceptForm, submitDisable = false, showCancel = true, closeButton = false, showSubtitle = false, callBackFunction = JavaScript(s"""updateJoinedWhitelistContainer()""")) {
            @commonInputText(acceptForm, constants.FormField.WHITELIST_ID, Symbol("value") -> whitelist.id, Symbol("readonly") -> true, Symbol("containerDivClass") -> "hidden")
        }
    </div>
} else {
    <div class="d-flex gap-2 align-items-center justify-content-center mt-3 footerMessage">
        <i class="bi bi-info-circle iconError iconSmall"></i>
        <div class="errorMessage">@Messages(constants.View.WHITELIST_MAXIMUM_MEMBERS_REACHED)</div>
    </div>
}
<script>epochToDateTime("startDate")</script>
<script>epochToDateTime("expiryDate")</script>