@import views.html.base.form._
@import views.profile.whitelist.companion.Create

@(createForm: Form[Create.Data] = Create.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.CREATE_WHITELIST, createForm, callBackFunction = JavaScript(s"""updateCreatedWhitelistContainer()""")) {
    @commonInputText(createForm, constants.FormField.WHITELIST_NAME)
    @commonDescriptionText(createForm, constants.FormField.WHITELIST_DESCRIPTION)
    @commonInputInt(createForm, constants.FormField.WHITELIST_MAX_MEMBERS)
    @commonInputEpochTIme(createForm, constants.FormField.WHITELIST_INVITE_START_EPOCH, setCurrentTime = true)
    @commonInputEpochTIme(createForm, constants.FormField.WHITELIST_INVITE_END_EPOCH, setCurrentTime = false)
}