@import controllers.actions.LoginState

@(whitelists: Seq[master.Whitelist], lastIndex: Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@whitelists.zipWithIndex.map { case (x, index) =>
<tr>
    <td class="text-end tableFieldNo">@(lastIndex + index + 1)</td>
    <td class="tableFieldName" style="cursor:pointer;" onclick="componentResource('whitelistSectionContent', jsRoutes.controllers.WhitelistController.detail('@x.id'));">
          <span>@x.name</span>
    </td>
    <td class="text-end tableFieldMaxMembers">@x.maxMembers</td>
    <td id="startEpoch_@x.id" class="text-end tableFieldStartEpoch epochValue">@x.startEpoch</td>
    <td  id="endEpoch_@x.id" class="text-end tableFieldEndEpoch epochValue">@x.endEpoch</td>
    <td class="text-end tableFieldAction whitelistActionButton">
        <div class="d-flex gap-3 justify-content-end">
            <div class="iconTooltip">
                <span class="tooltipText bottom">@Messages(constants.View.WHITELIST_ICON_MEMBERS)</span>
                <div onclick="componentResource('whitelistSectionContent', jsRoutes.controllers.WhitelistController.listMembers('@x.id'));">
                    <i class="bi bi-person iconDefault iconMedium icon"></i>
                </div>
            </div>
            <div class="iconTooltip">
                <span class="tooltipText bottom">@Messages(constants.View.WHITELIST_ICON_EDIT)</span>
                <div onclick="getForm(jsRoutes.controllers.WhitelistController.editWhitelistForm('@x.id'))">
                    <i class="bi bi-pencil iconDefault iconMedium icon"></i>
                </div>
            </div>
            <div class="iconTooltip">
                <span class="tooltipText bottom">@Messages(constants.View.WHITELIST_ADD_FROM_NFT_OWNERS)</span>
                <div onclick="getForm(jsRoutes.controllers.WhitelistController.addFromNFTOwnersForm('@x.id'))">
                    <i class="bi bi-images iconDefault iconMedium icon"></i>
                </div>
            </div>
            <div class="iconTooltip">
                <span class="tooltipText bottom">@Messages(constants.Form.DELETE_WHITELIST.button)</span>
                <div onclick="getForm(jsRoutes.controllers.WhitelistController.deleteForm('@x.id'))">
                    <i class="bi bi-trash iconDefault iconMedium icon"></i>
                </div>
            </div>
@*            @if(loginState.isGenesisCreator) {*@
@*            <div class="iconTooltip">*@
@*                <span class="tooltipText bottom">@Messages(constants.View.WHITELIST_ICON_SALE)</span>*@
@*                <div onclick="getForm(jsRoutes.controllers.SaleController.createCollectionSaleForm('@x.id'))">*@
@*                    <i class="bi bi-node-plus iconDefault iconMedium icon"></i>*@
@*                </div>*@
@*            </div>*@
@*            }*@
            <div>
                <div class="iconTooltip">
                    <span class="tooltipText bottom">@Messages(constants.View.WHITELIST_ICON_SHARE)</span>
                    <div class="p-0 userAddressData username-data" data-value="@constants.CommonConfig.WebAppUrl.concat(s"""/acceptWhitelistInvite/${x.id}""")"></div>
                    <div class="text-end copyIcon" onclick="copyToClipboard(this); showSnackbar('', '@Messages(constants.View.LINK_COPIED)', '@Messages(constants.View.NOTIFICATION_TITLE_INFO)');">
                        <i id="openWalletMenu" class="bi bi-share iconDefault iconMedium"></i>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
<script>
    epochToDateTime('startEpoch_@x.id');
    epochToDateTime('endEpoch_@x.id');
</script>
}