@import views.profile.whitelist.companion.Edit
@import views.html.base.form._

@(createForm: Form[Edit.Data] = Edit.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.EDIT_WHITELIST, createForm) {
    @commonInputText(createForm, constants.FormField.WHITELIST_ID, Symbol("class") -> "hidden")
    @commonInputText(createForm, constants.FormField.WHITELIST_NAME)
    @commonDescriptionText(createForm, constants.FormField.WHITELIST_DESCRIPTION)
    @commonInputInt(createForm, constants.FormField.WHITELIST_MAX_MEMBERS)
    @commonInputEpochTIme(createForm, constants.FormField.WHITELIST_INVITE_START_EPOCH, setCurrentTime = false)
    @commonInputEpochTIme(createForm, constants.FormField.WHITELIST_INVITE_END_EPOCH, setCurrentTime = false)
}
