@import controllers.actions.LoginState
@import views.html.base.buttons._

@(whitelists: Seq[master.Whitelist], lastIndex: Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@whitelists.zipWithIndex.map { case (whitelist, index) =>
<tr>
    <td class="text-end tableFieldNo">@(lastIndex + index + 1)</td>
    <td class="tableFieldName" style="cursor:pointer;" onclick="componentResource('whitelistSectionContent', jsRoutes.controllers.WhitelistController.detail('@whitelist.id'));">
        @whitelist.name
    </td>
    <td class="tableFieldStartEpoch">
        <span id="startEpoch_@whitelist.id">@whitelist.startEpoch</span>
    </td>
    <td class="tableFieldEndEpoch">
        <span id="endEpoch_@whitelist.id">@whitelist.endEpoch</span>
    </td>
    <td class="text-end tableFieldMaxMembers">@whitelist.maxMembers</td>
    <td  class="text-end tableFieldAction">
        <div class="d-flex gap-3 justify-content-end">
            <div class="iconTooltip">
                <span class="tooltipText bottom">@Messages(constants.View.WHITELIST_ICON_LEAVE)</span>
                <div onclick="getForm(jsRoutes.controllers.WhitelistController.leaveWhitelistDetails('@whitelist.id'))">
                    <i class="bi bi-box-arrow-right iconDefault iconMedium"></i>
                </div>
            </div>
        </div>
    </td>
</tr>
  <script>epochToDateTime('startEpoch_@whitelist.id'); epochToDateTime('endEpoch_@whitelist.id')</script>
  <script>componentResource('memberCount_@whitelist.id',
            jsRoutes.controllers.WhitelistController.whitelistTotalMembers('@whitelist.id'))</script>
}