@import controllers.actions.LoginState
@import models.master.Whitelist
@import views.html.base.form._
@import helper.{form, _}

@(whitelist: Whitelist, members: Seq[String])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

<div class="whitelistMembersContainer">
    <div class="singleItemDetailContainer">
        <div class="headerWithIcon">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center gap-1 my-3 headerTop">
                    <div class="title-icon back-button-icon" onclick="setCreatedWhitelistCurrentPage(0); componentResource('whitelistSectionContent', jsRoutes.controllers.WhitelistController.createdWhitelists());">
                        <i class="bi bi-chevron-left iconDefault"></i>
                    </div>
                    <h3 class="titleText">@whitelist.name</h3>
                </div>
            </div>
        </div>
    </div>

    @if(members.nonEmpty) {
    <div class="searchField d-flex">
        <i class="bi bi-search iconWhite iconSmall"></i>
        <input type="text" id="searchMemberField" onkeyup="searchMember()" placeholder="Search">
    </div>

    <div class="memberListContainer">
        <div class="d-flex align-items-center gap-4 header">
            <div class="fieldNo">@Messages(constants.View.WHITELIST_MEMBER_LIST_TITLE_NO)</div>
            <div class="fieldName">@Messages(constants.View.WHITELIST_MEMBER_LIST_TITLE_NAME)</div>
        </div>
        <ul id="memberList">
            @members.zipWithIndex.map { case (username, index) =>
                <li id="whitelistUser_@index">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center gap-4">
                            <div class="memberIndex">@(index + 1)</div>
                            <div class="d-flex gap-2 align-items-center">
                                <div class="memberProfile">
                                    <img src="@routes.Assets.versioned("images/defaultCollectionProfile.png")"/>
                                </div>
                                <div class="username">@username</div>
                            </div>
                        </div>
                        <div class="deleteIcon">
                            <i class="bi bi-x iconDefault" onclick="removeWhitelistMember('@username', '@Messages(constants.View.REMOVE_FROM_WHITELIST)',@index)"></i>
                        </div>
                        <div id="removeWhitelistMember_@username" class="hidden">
                            @defining(views.profile.whitelist.companion.RemoveMember.form) { removeMemberForm =>
                                @form(routes.WhitelistController.deleteMember()) {
                                    @CSRF.formField
                                    @commonInputText(removeMemberForm, constants.FormField.WHITELIST_ID, Symbol("value") -> whitelist.id, Symbol("readonly") -> "readonly")
                                    @commonInputText(removeMemberForm, constants.FormField.USERNAME, Symbol("value") -> username, Symbol("readonly") -> "readonly")
                                }
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    }else{
        <div id="emptyMemberList" class="h-100 d-flex flex-column justify-content-center align-items-center emptyMemberList">
            <div class="message">@Messages(constants.View.NO_MEMBERS_FOUND)</div>
        </div>
    }
</div>