@import controllers.actions.LoginState

@(whitelistId: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

    @views.html.base.common(constants.View.PROFILE)(requestHeader, messagesProvider, Option(loginState))
    <link rel="stylesheet" media="screen" href="@utilities.PublicResource.getVersionedRoute("stylesheets/userProfile.css")"/>
    <script>
        componentResource('centerContent', jsRoutes.controllers.ProfileController.profile('@loginState.username', '@constants.View.WHITELIST'));
        getForm(jsRoutes.controllers.WhitelistController.acceptInviteDetails('@whitelistId'));
    </script>
