@import controllers.actions.LoginState

@(whitelistsMade: Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

<div id="whitelistContainer">
    <div class="d-flex justify-content-between align-items-center mt-3 contentTitle">
        @if(loginState.isCreator || whitelistsMade > 0) {
            <div class="d-flex gap-2 align-items-center justify-content-between title" style="width: 110px;">
            } else {
            <div class="d-flex gap-2 align-items-center justify-content-between title" style="height: 34px;">
            }
    <div class="titleLabel"></div>
        @if(loginState.isCreator || whitelistsMade > 0) {
            <div class="hoverMenu">
                <ul class="d-flex flex-row gap-2 mb-0 links">
                    <li class="menuItem">
                        <a class="desktop-link" target="_blank">
                            <i class="bi bi-chevron-down iconGray iconSmall"></i>
                        </a>
                        <div class="subMenu">
                            <div class="subMenuList">
                                <div class="subMenuItem">
                                    <a onclick="showWhitelistScreen('created')" class="d-flex flex-row align-items-center p-0 subMenuItemLink">
                                        <div class="subMenuItemLabel">@Messages(constants.View.CREATED_WHITELISTS)</div>
                                    </a>
                                </div>
                                <div class="subMenuItem">
                                    <a onclick="showWhitelistScreen('joined')" class="d-flex flex-row align-items-center p-0 subMenuItemLink">
                                        <div class="subMenuItemLabel">@Messages(constants.View.JOINED_WHITELISTS)</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        }
    </div>
        @if(loginState.isCreator) {
            <div class="titleMenu">
                <a onclick="getForm(@utilities.JsRoutes.getJsRouteString(constants.Form.CREATE_WHITELIST.get, ""))" class="d-flex gap-2 align-items-center">
                    <i class="bi bi-plus-circle iconDefault iconMedium"></i>
                    @Messages(constants.View.CREATE_NEW_WHITELIST)
                </a>
            </div>
        }
    </div>
    <div id="whitelistSectionContent"></div>
    </div>

    <script src="@utilities.PublicResource.getVersionedRoute("javascripts/profile/whitelist.js")"></script>
    @if(loginState.isCreator || whitelistsMade > 0) {
        <script>showWhitelistScreen('created');</script>
    } else {
        <script>showWhitelistScreen('joined');</script>
}