@(lowQuality: Option[Int] = None, highQuality: Int, blur: Option[Int] = None, fileFormat: String, nftId: String, height: Option[Int] = None, width: Option[Int] = None)

@defining(
    if(lowQuality.isDefined && blur.isEmpty) {
        (s"""${constants.CommonConfig.WebAppUrl}/cdn-cgi/image/q=${lowQuality.getOrElse(0)},f=${fileFormat}/assets/images/NFT/${nftId}""", s"""${constants.CommonConfig.WebAppUrl}/cdn-cgi/image/q=${highQuality},f=${fileFormat}/assets/images/NFT/${nftId}""")
    } else if(lowQuality.isEmpty && blur.isDefined) {
        (s"""${constants.CommonConfig.WebAppUrl}/cdn-cgi/image/b=${blur.getOrElse(0)},f=${fileFormat}/assets/images/NFT/${nftId}""", s"""${constants.CommonConfig.WebAppUrl}/cdn-cgi/image/q=${highQuality},f=${fileFormat}/assets/images/NFT/${nftId}""")
    } else {
        (s"""${constants.CommonConfig.WebAppUrl}/cdn-cgi/image/q=${lowQuality.getOrElse(0)},b=${blur.getOrElse(0)},f=${fileFormat}/assets/images/NFT/${nftId}""", s"""${constants.CommonConfig.WebAppUrl}/cdn-cgi/image/q=${highQuality},f=${fileFormat}/assets/images/NFT/${nftId}""")
    }
) { imgSrc =>
        @if(height.isDefined && width.isDefined){
            <img class="lazyload" src="@imgSrc._1" data-src="@imgSrc._2" height="@height.concat(s"px")" width="@width.concat(s"px")"/>
        }else{
            <img class="lazyload" src="@imgSrc._1" data-src="@imgSrc._2"/>
        }
}
