@(name: String, function: JavaScript, arguments: (Symbol, Any)*)(implicit messagesProvider: MessagesProvider)
@import views.html.base._

<button type="button" id='@arguments.toMap.get(Symbol("id")).map(_.toString).getOrElse("")' class='@Seq("am-button", arguments.toMap.get('class).map(_.toString).getOrElse("buttonPrimary")).mkString(" ")'  onclick="@function">

@if(arguments.toMap.get(Symbol("icon")).map(_.toString).isDefined) {
    @commonIcon(id = arguments.toMap.get(Symbol("icon")).map(_.toString).getOrElse("")) @Messages(name)
}else{
    @Messages(name)
}

</button>

@* Example Usage: @commonJavascriptButton(constants.View.IDENTIFICATION_DETAILS, JavaScript("""componentResource('identificationDetails', jsRoutes.controllers.ComponentViewController.identificationDetails('Abhinav', 1996))""")) *@