@import views.html.nft.commonNFTCard
@import controllers.actions.LoginState
@import master.{Collection, NFT, NFTOwner, SecondaryMarket}
@import models.masterTransaction.NFTDraft

@(collection: Collection, nfts: Seq[NFT], nftOwners: Seq[NFTOwner], likedNFTIds: Seq[String], nftDrafts: Seq[NFTDraft], pageNumber: Int, secondaryMarkets: Seq[SecondaryMarket], showCreatorSection: Boolean, tokenPrice: Double)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])

@if(loginState.fold("")(_.username) == collection.creatorId && pageNumber == 1 && showCreatorSection) {
    <div class="singleNFTCard col-sm-6 col-md-12 col-lg-6 col-xl-4 mt-3 createNFTCard" onclick="getForm(jsRoutes.controllers.NFTController.uploadNFTFileForm('@collection.id'))">
        <div class="card border-0 h-100 d-flex justify-content-between" style="cursor: pointer;">
            <div class="createNFTBadge">
                <img src="@routes.Assets.versioned("images/icon/createBadge.png")"/>
            </div>
            <div class="mt-3 card-img staticImage">
                <img src="@routes.Assets.versioned("images/icon/createCollection.png")"/>
                <div class="text-center mt-2 label">@Messages(constants.View.CREATE_NFT_LABEL)</div>
            </div>
            <div class="p-3 createNFTCardDetail">
                <div class="separator"></div>
                <div class="text-center label">@Messages(constants.View.CREATE_NFT_BUTTON)</div>
            </div>
        </div>
    </div>
    @nftDrafts.map { nftDraft =>
        @commonNFTCard(collection, nftDraft.toNFT(collection = collection), None, JavaScript(s"getForm(jsRoutes.controllers.NFTController.basicDetailsForm('${nftDraft.collectionId}','${nftDraft.id}'))"), None, None, tokenPrice, draft = true)
    }
}

@if(nfts.nonEmpty) {
    @nfts.map { nft =>
        @if(loginState.isEmpty) {
            @commonNFTCard(collection, nft, None, JavaScript(s"viewNFT('${nft.id}', '${constants.View.OVERVIEW}')"), nftOwners.find(_.nftId == nft.id), secondaryMarkets.find(_.nftId == nft.id), tokenPrice)
        } else {
            @commonNFTCard(collection, nft, Option(likedNFTIds.contains(nft.id)), JavaScript(s"viewNFT('${nft.id}', '${constants.View.OVERVIEW}')"), nftOwners.find(_.nftId == nft.id), secondaryMarkets.find(_.nftId == nft.id), tokenPrice)
        }
    }
} else {
    <div class="noNFT"></div>
}

<script src="@utilities.PublicResource.getVersionedRoute("javascripts/nfts/wishlist.js")"></script>