/* Lato */
@font-face {
    font-family: 'Lato';
    src: url('fonts/lato/lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato/lato/Lato-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

/* Poppins */
@font-face {
    font-family: 'Poppins';
    src: url('fonts/lato/poppins/Poppins-Regular.ttf');
}

/* Barlow Condensed */
@font-face {
    font-family: 'Barlow Condensed';
    src: url('fonts/lato/barlowCondensed/BarlowCondensed-Regular.ttf');
}

/* Josefin Sans */
@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/lato/josefinSans/JosefinSans-Regular.ttf');
}

/* Paralucent */
@font-face {
    font-family: 'Paralucent';
    src: url('fonts/lato/paralucent/Paralucent Medium.otf');
}

/* Work Sans */
@font-face {
    font-family: 'Work Sans';
    src: url('fonts/lato/workSans/WorkSans.ttf');
}