@media only screen and (min-width: 10em) {
    .modal-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: 9999;
    }
    .modal-overlay.active {
        opacity: 1;
        visibility: visible;
    }
    .modal.fade .modal-dialog{
        transition: transform 0.6s ease;
    }
}
.modalContainer {
    background-color: var(--popup-bg);
    border: 2px solid var(--popup-stroke);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 648px;
    max-width: 75rem;
    min-height: auto;
    padding: 32px;
    visibility: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.modalContainer .modal-content {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s;
}
.modalContainer.active {
    visibility: visible;
}
.modalContainer.active .modal-content {
    opacity: 1;
}
.modalContainer.active .close-modal {
    transform: translateY(0px);
    opacity: 1;
}
@media only screen and (max-width: 39.9375em) {
    .modalContainer {
        margin: 0 auto;
        width: 90%;
        -webkit-overflow-scrolling: touch;
        padding: 30px !important;
    }
}

/* Form Header Start*/
/* Close Button */
.modalContainer .form-close-btn{
    cursor: pointer;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.modalContainer .form-close-btn:before,
.modalContainer .form-close-btn:after {
    content: '';
    width: 55%;
    height: 2px;
    background: var(--dark);
    position: absolute;
    top: 48%;
    left: 22%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.modalContainer .form-close-btn:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.modalContainer .form-close-btn:hover:before,
.modalContainer .form-close-btn:hover:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.modalContainer .form-close-btn:hover{
    background-color: var(--popup-stroke);
}

/* Wallet List (Sign Up Options) */
.modalContainer .wallet-list li{
    border-bottom: 2px solid var(--line);
}
.modalContainer .wallet-list .wallet-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 9px 15px 0 15px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.modalContainer .wallet-list .wallet-item:hover{
    background-color: var(--popup-stroke);
}
.modalContainer .wallet-list .wallet-item .wallet-title{
    font-family: var(--font-type-1);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: var(--mantle-off-white);
    flex-grow: 2;
    margin-left: 10px;
}

/* Footer */
.modalContainer .msg-3{
    text-align: left;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    color: var(--inactive-gray);
}
.modalContainer .msg-4{
    font-family: var(--font-type-2);
    font-size: 16px;
    color: var(--text-medium);
}

/* Form Button */
.horizontal-align{
    display: flex;
    justify-content: end;
    margin-top: 40px;
    gap: 30px;
}
.horizontal-align button{
    padding: 9px 0;
    width: 200px;
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: capitalize;
    border: none;
    outline: none;
    border-radius: 32px;
    cursor: pointer;
}
.horizontal-align .form-primary-button{
    color: var(--button-text);
    background-color: var(--default);
    overflow: hidden;
    position: relative;
    z-index: 950;
}
.horizontal-align .form-primary-button.disable{
    border: none !important;
    box-shadow: none !important;
    background: var(--disable-yellow) !important;
    cursor: none;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.horizontal-align .form-secondary-button{
    color: var(--dark);
    background-color: transparent;
    border: 1px solid var(--dark);
    overflow: hidden;
    position: relative;
    z-index: 950;
    transition: color 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
.horizontal-align .form-primary-button.small,
.horizontal-align .form-secondary-button.small{
    width: 100px;
    font-size: 14px;
    padding: 6px 0;
    line-height: 19px;
    border: 1px solid var(--dark);
}
.horizontal-align .form-primary-button.small i,
.horizontal-align .form-secondary-button.small i {
    font-size: 14px;
    line-height: 19px;
}
/* Error Modal */
.wallet-error-message{
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: var(--text-medium);
    margin-top: 12px;
}
.wallet-error-message a{
    color:var(--dark);
}

/* Form Address Box */
.form-address-box{
    background-color: var(--header-bg);
    border-radius: 16px;
    padding: 12px 14px;
    margin-top: 30px;
    font-family: var(--font-type-2);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}
.form-address-box .form-address-box-item{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.form-address-box .address-box-label{
    text-align: right;
    color: var(--inactive-gray);
    margin-right:10px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.form-address-box .address-box-text{
    color: var(--mantle-off-white);
    display: flex;
    align-items: center;
}
.form-address-box .address-box-text .username-data{
    color: var(--mantle-off-white);
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 350px;
    white-space: nowrap;
}
@media (max-width: 650px){
    .form-address-box .address-box-text .username-data{
        max-width: 175px;
    }
}
.form-address-box .form-copy-icon{
    margin-left: 5px;
}
.form-address-box .form-copy-message.active{
    animation: msg-copied 2s ease-in-out forwards;
}
.form-address-box .form-copy-message{
    margin-left:5px;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--popup-bg);
    color: var(--inactive-gray);
    position: relative;
    top: 10px;
    opacity: 0;
}
@keyframes msg-copied {
    0%{
        top:10px;
        opacity: 0;
    }
    20%{
        top:0px;
        opacity: 1;
    }
    80%{
        top:0px;
        opacity: 1;
    }
    100%{
        top:-10px;
        opacity: 0;
    }
}
@media (max-width: 425px){
    .form-address-box{
        font-size: 14px;
    }
}

/* Create Wallet */
.sub-heading-link{
    font-family: var(--font-type-2);
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
    color: var(--inactive-gray);
}
.sub-heading-link .link{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: var(--dark);
    margin-left: 5px;
    position: relative;
}

/* Form Copy Item */
.form-input-text{
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
    color: var(--text-medium);
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 5px;
}
.form-input-text{
    font-weight: 400;
}
.form-copy-icon{
    height: 40px;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.form-copy-icon:hover{
    background-color: var(--popup-stroke);
}

/* Form Information Message */
/* Form Accordion */
.accordion-toggle {
    cursor:pointer;
    display: flex;
    align-items: center;
}
.accordion-toggle h4{
    font-family: var(--font-type-1);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: var(--dark);
}
.accordion-toggle .icon {
    color: var(--dark);
    margin-left: 5px;
}
.accordion-toggle .icon:before {
    display: inline-block;
    content: url('../images/icon/downArrow.png');;
    font-size: 25px;
    line-height: 12px;
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
    transition: .2s ease;
}
.accordion-toggle.open .icon:before {
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
.accordion-content {
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    display:none;
    word-break: break-word;
}
.accordion-content .accordion-item{
    display: flex;
    margin: 15px 0;
}
.accordion-content.default {
    display:block;
}
.accordion-box {
    padding: 1.5em 0em 0em 0;
}
.accordion-box p {
    text-align: right;
    flex: 15%;
    margin-right: 10px;
    color: var(--inactive-gray);
}
.accordion-box span {
    flex: 85%;
    color: var(--mantle-off-white);
}
@media (max-width:425px){
    .accordion-content{
        font-size: 14px;
    }
}

/* Multi Step */
.progress-bar {
    width: 100%;
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}
.progress-bar:before {
    content: '';
    width: 9px;
    height: 9px;
    background: var(--button-text);
    box-shadow: 1.41818px 1.41818px 2.83636px rgba(0, 0, 0, 0.2), inset -1.41818px -1.41818px 2.83636px rgba(0, 0, 0, 0.2), inset 1.41818px 1.41818px 2.83636px #3F3F3F;
    border-radius: 50%;
    position: absolute;
    left:-1px;
    top:6px;
}
.progress-bar:after {
    content: '';
    width: 9px;
    height: 9px;
    background: var(--button-text);
    box-shadow: 1.41818px 1.41818px 2.83636px rgba(0, 0, 0, 0.2), inset -1.41818px -1.41818px 2.83636px rgba(0, 0, 0, 0.2), inset 1.41818px 1.41818px 2.83636px #3F3F3F;
    border-radius: 50%;
    position: absolute;
    right:-1px;
    top:6px;
}
.progress-bar li .progress-bar__dot {
    display: block;
    width: 20px;
    border-radius: 10px;
    height: 20px;
    aspect-ratio: 1;
    transition: all 0.5s ease;
    background: var(--popup-bg);
    box-shadow: inset 0px 0px 0px 2px var(--popup-bg), 0px 0px 0px 2px var(--mantle-off-white);
    z-index: 99;
}
.progress-bar li .progress-bar__dot.full {
    background: var(--radial);
    box-shadow: inset 0px 0px 0px 2px var(--popup-bg), 0px 0px 0px 2px var(--dark);
}
.progress-bar li.progress-bar__connector {
    display: block;
    width: 15em;
    height: 2px;
    background-color: #383838;
    margin-top: 10px;
}

/* Common Form Field */
.commonField label {
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 700;
    font-size: var(--field-label);
    text-transform: capitalize;
    white-space: nowrap;
    color: var(--inactive-gray);
}
.commonField input{
    height: 36px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid var(--inactive-gray);
    border-radius: var(--size-radius);
    padding: 10px 12px;
    color: var(--mantle-off-white);
    background: transparent;
    margin-top: 8px;
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 400;
    font-size: var(--field-text);
    letter-spacing: 1px;
    outline: none;
}
.commonField input::placeholder{
    color: var(--inactive-gray);
    text-transform: capitalize;
}
.commonField input:focus{
    border-color: var(--dark);
}
.commonField input:not(:focus){
    color: var(--inactive-gray);
}

/* Form Fields */
#formBody > div:not(:last-child){
    margin-bottom: 24px;
}
#formBody dl label,
#formBody .label-container label{
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--inactive-gray);
}
#formBody dd input[type=text],
#formBody dd input[type=password],
#formBody dd input[type=number],
#formBody dd input[type=url],
#formBody dd select,
#formBody dd textarea
{
    font-family: var(--font-type-2);
    height: 36px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid var(--inactive-gray);
    padding: calc(var(--size-bezel) * 2) 12px;
    color: var(--mantle-off-white);
    background: transparent;
    border-radius: var(--size-radius);
    font-size: 14px;
    letter-spacing: 1px;
    outline: none;
    font-style: normal;
    font-weight: 400;
    margin-top: 8px;
}
#formBody dd input[type=text]:focus,
#formBody dd input[type=password]:focus,
#formBody dd input[type=number]:focus,
#formBody dd input[type=url]:focus,
#formBody dd select:focus,
#formBody dd textarea:focus
{
    border-color: var(--dark);
}
#formBody dd input[type=text]:not(:focus),
#formBody dd input[type=password]:not(:focus),
#formBody dd input[type=number]:not(:focus),
#formBody dd input[type=url]:not(:focus),
#formBody dd select:not(:focus),
#formBody dd textarea:not(:focus)
{
    color: var(--inactive-gray);
    border-color: var(--gray) !important;
}
#formBody dd textarea{
    height: 120px;
    padding: 10px 12px;
}
#formBody dd input[type=text].errorField,
#formBody dd input[type=password].errorField,
#formBody dd input[type=number].errorField,
#formBody dd input[type=url].errorField,
#formBody dd select.errorField,
#formBody dd textarea.errorField{
    border: 1px solid var(--error) !important;
}
#formBody dd select{
    padding: 0px;
}
#formBody button{
    font-size: 16px;
    line-height: 19px;
    border-radius: 32px;
    padding: 9px 0;
    width: 220px;
    font-family: var(--font-type-2);
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--button-text);
    background-color: var(--default);
    overflow: hidden;
    position: relative;
    z-index: 950;
}
#formBody button:hover{
    box-shadow: 0px 0px 10px rgba(255, 201, 66, 0.5);
}
#formBody button.disable{
    background: var(--disable-yellow) !important;
    cursor: none;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#formBody button.form-secondary-button{
    font-size: 16px;
    line-height: 19px;
    border-radius: 32px;
    padding: 9px 0;
    width: 220px;
    font-family: var(--font-type-2);
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--default);
    background-color: transparent;
    border: 1px solid var(--dark);
    overflow: hidden;
    position: relative;
    z-index: 950;
}
#formBody button:hover{
    box-shadow: 0px 0px 10px rgba(255, 201, 66, 0.5);
}
#formSubmitButton{
    display: flex;
    justify-content: end;
}
button.form-primary-button{
    font-size: 16px;
    line-height: 19px;
    border-radius: 32px;
    padding: 9px 0;
    width: 220px;
    font-family: var(--font-type-2);
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--button-text);
    background-color: var(--default);
    overflow: hidden;
    position: relative;
    z-index: 950;
}
button.form-primary-button:hover{
    box-shadow: 0px 0px 10px rgba(255, 201, 66, 0.5);
}
button.form-secondary-button{
    font-size: 16px;
    line-height: 19px;
    border-radius: 32px;
    padding: 9px 0;
    width: 220px;
    font-family: var(--font-type-2);
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--default);
    background-color: transparent;
    border: 1px solid var(--dark);
    overflow: hidden;
    position: relative;
    z-index: 950;
}
/* Field Label */
#formBody .label-container{
    display: flex;
    align-items: center;
    gap: 8px;
}
#formBody .label-container img{
    width: 16px;
    height: 16px;
}

/* Regx msg */
dl .info {
    background-color: var(--tooltip-bg);
    color: var(--gray);
    text-align: center;
    border-radius: 6px;
    position: relative;
    top: 5px;
    float: right;
    font-size: 10px;
    padding: 5px;
    display: none;
}
dl .info:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 20px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--tooltip-bg) transparent;
}

/* Input Field Icon */
.usernameAvailability {
    position: relative;
}
.usernameAvailability .result {
    position: absolute;
    top: 0px;
    right: 0;
}
.usernameAvailability .failureIcon,
.usernameAvailability .checkIcon {
    display: none;
    position: absolute;
    right: 15px;
    top: 36px;
    width: 20px;
    height: 20px;
}
.usernameAvailability .fieldIcon + div dl dd input{
    padding-right: 38px !important;
}
.hidden{
    display: none !important;
}
.showPassword .eyeIcon {
    position: absolute;
    right: 15px;
    top: 30px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 22px;
    color: var(--default);
}
.inputField .errorMessage,
.seedPhraseError #phraseError{
    display: none;
}
.inputField .errorMessage .errorContainer,
.seedPhraseError .errorContainer{
    display: flex;
    align-items: center;
    margin-top: 8px;
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--error);
    gap: 4px;
}
.inputField .errorMessage img,
.seedPhraseError .errorContainer img{
    width: 16px;
    height: 16px;
    margin-top: 3px;
}
.forgotPasswordLink{
    font-family: var(--font-type-1);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: var(--dark);
}
.am-checkbox{
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--popup-bg);
    margin: 0;
    font: inherit;
    width: 18px;
    height: 18px;
    border: 1px solid var(--default);
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
}
.am-checkbox::before {
    content: "";
    width: 0.60em;
    height: 0.60em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--default);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.am-checkbox:checked::before {
    transform: scale(1);
}
.terms-condition-box{
    width: 100%;
    height: 450px;
    background: #030301;
    border-radius: 10px;
    overflow-y: auto;
    margin-top: 12px;
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--mantle-off-white);
    padding: 24px 16px 24px 24px;

    scrollbar-width: auto; /* Firefox */
    -ms-overflow-style: auto;  /* Internet Explorer 10+ */
}
.terms-condition-box::-webkit-scrollbar {
    width: 5px;
}

/* Field Level Error */
dl dd.error{
    margin-top: 8px;
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--error);
    position: relative;
}

/* Global Level Error */
.toastContainer {
    margin-bottom: 25px;
    border-radius: 8px;
    background: #2c0c0f;
    padding: 8px 16px 8px 16px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: var(--font-type-2);
    border:2px solid var(--error);
}
.toastContainer .toast-content {
    display: flex;
    align-items: center;
}
.toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    min-width: 30px;
    border-radius: 50%;
}
.toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
}
.message .text {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-medium);
}
.message .text.text-1 {
    font-weight: 600;
    color: var(--mantle-off-white);
}
.logoutContainer p{
    font-family: var(--font-type-2);
    color:var(--mantle-off-white);
    font-size: 14px;
}
#USERNAME_AVAILABLE_field,
#termsCondition_field dt label{
    display: none;
}
#RECEIVE_NOTIFICATIONS_field,
#acceptPolicy_field{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: baseline;
    gap: 10px;
}
#signUpUsername_field label{
    display: none;
}

/* Character Count for Textarea */
.remainingCharacterLabel{
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--inactive-gray);
}

/* Custom Select */
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
    width: 100%;
}
.custom-select-wrapper select {
    display: none;
}
.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}
.custom-select-trigger {
    font-family: var(--font-type-2);
    height: 36px;
    box-sizing: border-box;
    border: 1px solid var(--gray);
    color: var(--mantle-off-white);
    border-radius: var(--size-radius);
    font-size: 14px;
    letter-spacing: 1px;
    outline: none;
    font-style: normal;
    font-weight: 400;
    margin-top: 8px;
    position: relative;
    display: block;
    width: 100%;
    padding: 8px 0px 0 10px;
    background: var(--popup-bg);
    cursor: pointer;
}
.custom-select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    top: 50%;
    right: 25px;
    margin-top: -3px;
    border-bottom: 1px solid var(--mantle-off-white);
    border-right: 1px solid var(--mantle-off-white);
    transform: rotate(45deg) translateY(-50%);
    transition: all .4s ease-in-out;
    transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger{
    border-color: var(--default);
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}
.custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
    border-color: var(--default);
}
.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 100%;
    margin: 0px 0;
    border: 1px solid var(--default);
    border-top-color: transparent;
    border-bottom-left-radius: var(--size-radius);
    border-bottom-right-radius: var(--size-radius);
    box-sizing: border-box;
    background: var(--popup-bg);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 999;
}
.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 6px 12px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--text-medium);
}
.custom-option:first-of-type {
    padding-top: 12px;
}
.custom-option:last-of-type {
    padding-bottom: 12px;
}

/* Toggle Button */
.toggleButtonContainer .toggleButtonLabel{
    font-family: var(--font-type-2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--inactive-gray);
}
.toggleButton {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.toggleButton:after {
    content: '';
    width: 40px;
    height: 18px;
    display: inline-block;
    background: var(--icon-white);
    border-radius: 18px;
    clear: both;
}
.toggleButton:before {
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    border-radius: 50%;
    background: var(--card-color);
}
.toggleButton:checked:before {
    left: 25px;
}
.toggleButton:checked:after {
    background: var(--default);
}
.toggleButton,
.toggleButton:before,
.toggleButton:after,
.toggleButton:checked:before,
.toggleButton:checked:after {
    transition: ease .3s;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -o-transition: ease .3s;
}