@import controllers.actions.LoginState
@import models.master.{Collection, SecondaryMarket}
@import views.html.base.buttons._
@import views.html.base.form._
@import views.secondaryMarket.companion.Buy

@(buyForm: Form[Buy.Data] = Buy.form, secondaryMarket: SecondaryMarket, collection: Collection)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@commonForm(constants.Form.BUY_FROM_SECONDARY_MARKET, buyForm) {
    <div id="secondaryMarketForm">
        @commonInputText(buyForm, constants.FormField.NFT_ID, Symbol("value") -> secondaryMarket.nftId, Symbol("containerDivClass") -> "hidden")
        @commonInputText(buyForm, constants.FormField.SECONDARY_MARKET_ID, Symbol("value") -> secondaryMarket.id, Symbol("containerDivClass") -> "hidden")
        @commonInputPassword(buyForm, constants.FormField.PASSWORD)
    </div>

    <div id="secondaryMarketInvoice" style="display: none;">
        <div class="container p-0" id="invoice">
            <p class="tableHeading mt-4 mb-2">@Messages(constants.View.NFT_INVOICE_SUBTITLE)</p>
            <div class="card">
                <div class="card-body py-3 px-4">
                    <div class="table-responsive-sm">
                        <table class="table table-borderless mb-0">
                            <thead>
                                <tr>
                                    <th class="text-left tableTitle">@Messages(constants.View.NFT_INVOICE_TABLE_TITLE_DESCRIPTION)</th>
                                    <th class="text-center tableTitle">@Messages(constants.View.NFT_INVOICE_TABLE_TITLE_UNIT_COST)</th>
                                    <th class="text-center tableTitle">@Messages(constants.View.NFT_INVOICE_TABLE_TITLE_QUANTITY)</th>
                                    <th class="text-center tableTitle">@Messages(constants.View.NFT_INVOICE_TABLE_TITLE_AMOUNT)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="4" class="p-0">
                                        <span class="tableSeparator"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left tableLabel">@Messages(constants.View.NFT_INVOICE_TABLE_FIELD_LISTED_PRICE)</td>
                                    <td class="text-center tableValue">
                                        <span class="listedUnitCost">@secondaryMarket.price.formatNumber()</span> $MNTL
                                    </td>
                                    <td class="text-center tableValue">
                                        <span class="quantity" id="quantity">1</span>
                                    </td>
                                    <td class="text-end tableValue">
                                        <span class="listedAmount">@secondaryMarket.price.formatNumber()</span> $MNTL
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left tableLabel">
                                        @Messages(constants.View.NFT_INVOICE_TABLE_FIELD_PLATFORM_COMMISSION)
                                        <del>@Messages(constants.View.NFT_INVOICE_TABLE_FIELD_PLATFORM_COMMISSION_OFF)</del>
                                    </td>
                                    <td class="text-center tableValue">
                                        <span class="commissionRate">@(constants.Transaction.Commission * 100)</span> %
                                    </td>
                                    <td class="text-center tableValue"></td>
                                    <td class="text-end tableValue">
                                        <span class="commissionAmount">0.00</span> $MNTL
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left tableLabel">@Messages(constants.View.NFT_INVOICE_TABLE_FIELD_ROYALTY_FEES)</td>
                                    <td class="text-center tableValue">
                                        <span class="royaltyFees">@(collection.getRoyaltyFee * 100)</span> %
                                    </td>
                                    <td class="text-center tableValue">
                                        <span class="quantity">00</span>
                                    </td>
                                    <td class="text-end tableValue">
                                        <span class="royaltyAmount">0.00</span> $MNTL
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="p-0">
                                        <span class="tableSeparator"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="text-end tableTitle">
                                        <strong>@Messages(constants.View.NFT_INVOICE_TABLE_FIELD_SUBTOTAL)</strong>
                                    </td>
                                    <td class="text-end tableValue">
                                        <span class="subTotal">0.00</span> $MNTL
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="text-end tableTitle">
                                        <strong>@Messages(constants.View.NFT_INVOICE_TABLE_FIELD_DISCOUNTS)</strong>
                                    </td>
                                    <td class="text-end tableValue">
                                        – <span class="discount">0.00</span> $MNTL
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="text-end tableTitle">
                                        <div class="d-flex gap-2 align-items-center justify-content-end">
                                            <i class="bi bi-star-fill iconDefault iconSmall"></i>
                                            <strong>@Messages(constants.View.NFT_INVOICE_TABLE_FIELD_TRANSACTION_FEES)</strong>
                                        </div>

                                    </td>
                                    <td class="text-end tableValue">
                                        <del>0.00 $MNTL</del>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="p-0">
                                        <span class="tableSeparator"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="text-end tableTitle">
                                        <strong>@Messages(constants.View.NFT_INVOICE_TABLE_INVOICE_TOTAL)</strong>
                                    </td>
                                    <td class="text-end tableValueBig">
                                        <span class="invoiceTotal">0.00</span> $MNTL
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

@*        <div class="d-flex align-items-center gap-2 form-information-message mt-3">*@
@*            <div class="form-information-icon">*@
@*                <i class="bi bi-info-circle iconDefault iconSmall"></i>*@
@*            </div>*@
@*            <div class="form-information-text">@Messages(constants.View.NFT_INVOICE_TABLE_INFO_MESSAGE)</div>*@
@*        </div>*@
    </div>
    <div class="horizontal-align mb-0">
    @commonPrimaryButton(constants.View.NEXT, JavaScript(s"showHideModalScreen('#secondaryMarketInvoice', '#secondaryMarketForm'); showSubmitButton(); computeInvoice();"), Symbol("id") -> "secondaryMarketNextButton", Symbol("class") -> "disable")
    </div>
}
<script src="@utilities.PublicResource.getVersionedRoute("javascripts/secondaryMarket/buy.js")" type="text/javascript"></script>
<script>computeInvoice();</script>