@import views.html.collection._

@(collections: Seq[master.Collection])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<div class="m-0 p-0 collectionPage">
    @if(collections.nonEmpty) {
        @collections.map { collection =>
            <div class="mt-3 singleCollection">
                @commonCollectionCard(collection, JavaScript(s"viewMarketCollection('${collection.id}')"), constants.Collection.Status.MARKET)
            </div>
        }
    } else {
        <div class="noCollection"></div>
    }
</div>