@import controllers.actions.LoginState
@import models.blockchain.Block
@import models.blockchainTransaction.UserTransaction
@import views.html.base.buttons._

@(userTransactions: Seq[UserTransaction], blocks: Seq[Block])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)
@if(userTransactions.nonEmpty){
    @userTransactions.map { userTransaction =>
        <tr>
            <td class="tableFieldHash"><a target=”_blank” href="@userTransaction.getTxUrl">@userTransaction.txHash</a></td>
            <td class="text-center tableFieldType">@Messages(userTransaction.txType)</td>
            <td class="text-center tableFieldStatus">@if(userTransaction.status.isEmpty) {

            } else {
                @if(userTransaction.status.get){
                    <i class="bi bi-check-circle iconSuccess iconSmall"></i>
                }else{
                    <i class="bi bi-x-circle iconError iconSmall"></i>
                }
            }</td>
            <td id="transactionTime_@userTransaction.txHash">@userTransaction.txHeight.fold(0L)(x => blocks.find(_.height == x).fold(0L)(_.time))</td>
            <script>epochToDateTime('transactionTime_@userTransaction.txHash');</script>
        </tr>
    }
    <tr>
        <th colspan="4" class="border-0">
            <div id="userTransactionPagination" class="mt-0 horizontal-align">
                @commonPaginationButton(constants.View.BACK, JavaScript(s"userTransactionPaginationOnBack()"), icon = "bi-chevron-left", size = "small", iconFirst = true, Symbol("id") -> "userTransactionPaginationBack")
                @commonPaginationButton(constants.View.NEXT, JavaScript(s"userTransactionPaginationOnNext()"), icon = "bi-chevron-right", size = "small", iconFirst = false, Symbol("id") -> "userTransactionPaginationNext")
                <script>hideBackButtonOnFirstLoad();</script>
            </div>
        </th>
    </tr>
}else{
    <tr>
        <td colspan="4" class="text-center">
            @Messages(constants.View.NO_TRANSACTION_FOUND)
        </td>
    </tr>
}