@()(implicit messagesProvider: MessagesProvider)
<footer class="section">
@*    <div class="row row-1">*@
@*        <div class="col">*@
@*            <div class="logo-container">*@
@*                <img class="lazyload footerLogo" src="@routes.Assets.versioned("images/mantlePlaceLogo.png")" data-src="@routes.Assets.versioned("images/mantlePlaceLogo.png")"/>*@
@*            </div>*@
@*        </div>*@
@*    </div>*@
    <div class="footerRow row2">
        <div class="footerCol">
            <img class="lazyload footerLogo" src="@routes.Assets.versioned("images/mantlePlaceLogo.png")" data-src="@routes.Assets.versioned("images/mantlePlaceLogo.png")"/>
        </div>
@*        <div class="col">*@
@*            <h3>@Messages(constants.View.QUICK_LINKS)</h3>*@
@*            <ul>*@
@*                <li><a href="">@Messages(constants.View.HOME)</a></li>*@
@*                <li><a href="">@Messages(constants.View.EXPLORE)</a></li>*@
@*                <li><a href="">@Messages(constants.View.SUPPORT)</a></li>*@
@*                <li><a href="">@Messages(constants.View.PROFILE)</a></li>*@
@*                <li><a href="">@Messages(constants.View.WALLET)</a></li>*@
@*                <li><a href="">@Messages(constants.View.ABOUT_ASSETMANTLE)</a></li>*@
@*            </ul>*@
@*        </div>*@

        <div class="footerCol">
@*            <h3>@Messages(constants.View.NEWSLETTER)</h3>*@
@*            <form>*@
@*                <div class="newsLetterContainer">*@
@*                    <div class="section1">*@
@*                        <lable for="newsLetterInput">Email</lable>*@
@*                        <input type="email" placeholder="example@@mail.com"/>*@
@*                    </div>*@
@*                    <div class="section2">*@
@*                        <button>*@
@*                            Join*@
@*                        </button>*@
@*                    </div>*@
@*                </div>*@
@*            </form>*@

            <div class="social-icons">
                <h3>@Messages(constants.View.SOCIAL_MEDIA)</h3>
                <div class="icons">
                    <a href="https://discord.gg/BSdBQ4495d" target="_blank">
                        <i class="bi bi-discord iconWhite"></i>
                    </a>
                    <a href="https://www.instagram.com/assetmantle/" target="_blank">
                        <i class="bi bi-instagram iconWhite"></i>
                    </a>
                    <a href="https://t.me/assetmantlechat" target="_blank">
                        <img src="@routes.Assets.versioned("images/icon/footerTelegram.png")" style="width:18px; height: 16px;"/>
                    </a>
                    <a href="https://twitter.com/AssetMantle" target="_blank">
                        <i class="bi bi-twitter iconWhite"></i>
                    </a>
                    <a href="https://github.com/AssetMantle" target="_blank">
                        <i class="bi bi-github iconWhite"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="footerCol">
@*            <p>@Messages(constants.View.FOOTER_FAQ_1) <a href="#">@Messages(constants.View.FOOTER_FAQ_LINK_1)</a></p>*@
@*            <p>@Messages(constants.View.FOOTER_FAQ_2) <a href="#">@Messages(constants.View.FOOTER_FAQ_LINK_2)</a></p>*@
            <p>@Messages(constants.View.FOOTER_FAQ_3) <a href="https://blog.assetmantle.one/" target="_blank">@Messages(constants.View.FOOTER_FAQ_LINK_3)</a></p>
            <p>@Messages(constants.View.FOOTER_FAQ_4) <a href="https://docs.assetmantle.one/" target="_blank">@Messages(constants.View.FOOTER_FAQ_LINK_4)</a></p>
            <p>@Messages(constants.View.FOOTER_FAQ_5) <a href="@constants.CommonConfig.ExplorerUrl" target="_blank">@Messages(constants.View.FOOTER_FAQ_LINK_5)</a></p>
        </div>
        <hr>
        <div class="copyright">@Messages(constants.View.COPYRIGHT)</div>
    </div>
</footer>