@import helper._
@import views.html.base.buttons._

@(formTemplate: constants.Form, formData: Form[_], showBackButton: Boolean = false, closeButton: Boolean = true, showCancel: Boolean = false, showSubtitle: Boolean = true, showScreen: String = "", hideScreen: String = "", refreshOverlay: Boolean = false, submitDisable: Boolean = true, target: String = "modal-content", customSubmit: JavaScript = JavaScript(""), runBeforeSubmit: JavaScript = JavaScript("emptyCallBack"), callBackFunction: JavaScript = JavaScript("emptyCallBack"), checkBeforeSubmitFunction: JavaScript = JavaScript("defaultCheckBeforeSubmit"))(fieldset: Html)(implicit messagesProvider: MessagesProvider, requestHeader: RequestHeader)

@form(action = formTemplate.post,
    Symbol("onkeypress") -> s"onKeyPress(event, '${refreshOverlay}', this, '${target}', ${runBeforeSubmit})",
    if(submitDisable) Symbol("onkeyup") -> s"onKeyUp(this, '${formTemplate.submit.replace(".", "_")}')" else Symbol("onkeyup") -> "") {
    @if(showSubtitle) {
        @if(showBackButton) {
            <div class="modal-header mb-3">
                <div class="title-icon back-button-icon" id="modalBackButton" onclick="showHideModalScreen('@showScreen', '@hideScreen')">
                    <i class="bi bi-chevron-left iconDefault"></i>
                </div>
                <h5 class="modal-title" id="staticBackdropLabel">@Messages(formTemplate.title)</h5>
                @if(closeButton) {
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()">
                                &times;
                    </button>
                }
            </div>
            @if(showSubtitle) {
                <p class="sub-heading" id="modalSubtitle">@Messages(formTemplate.subTitle)</p>
            }

        } else {
            <div class="modal-header mb-3">
                <h5 class="modal-title" id="staticBackdropLabel">@Messages(formTemplate.title)</h5>
                @if(closeButton) {
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()">
                                &times;
                    </button>
                }
            </div>
            @if(showSubtitle) {
                <p class="sub-heading" id="modalSubtitle">@Messages(formTemplate.subTitle)</p>
            }
        }
    } else {
        @if(showBackButton) {
            <div class="modal-header mb-3">
                <div class="title-icon back-button-icon" id="modalBackButton" onclick="showHideModalScreen('@showScreen', '@hideScreen')">
                    <i class="bi bi-chevron-left iconDefault"></i>
                </div>
                <h5 class="modal-title" id="staticBackdropLabel">@Messages(formTemplate.title)</h5>
                @if(closeButton) {
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()">
                                &times;
                    </button>
                }
            </div>
        } else {
            <div class="modal-header mb-3">
                <h5 class="modal-title" id="staticBackdropLabel">@Messages(formTemplate.title)</h5>
                @if(closeButton) {
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()">
                                &times;
                    </button>
                }
            </div>
        }
    }
    @if(formData.hasGlobalErrors) {
        <ul id="formGlobalErrors">
            <div class="toastContainer active">
                <div class="toast-content">
                    <i class="bi bi-exclamation-circle iconError iconLarge"></i>
                    <div class="message">
                        <span class="text text-1">Error</span>
                        @for(error <- formData.globalErrors) {
                            <li>
                                <span class="text text-2">@error.format</span>
                            </li>
                        }
                    </div>
                </div>
            </div>
        </ul>
    }

    <div id="formBody">
        @CSRF.formField
        @fieldset
        <div class="modal-footer">
            @if(showCancel) {
                @commonSecondaryButton(constants.View.CANCEL, JavaScript(s"""closeModal()"""))
            }
            <div id="formSubmitButton">
            @if(customSubmit != JavaScript("")) {
                @commonJavascriptButton(formTemplate.submit, customSubmit)
            } else {
                @if(submitDisable) {
                    @commonJavascriptButton(formTemplate.submit, JavaScript(s"$runBeforeSubmit;" + s"submitForm('${refreshOverlay}', this, '${target}', ${checkBeforeSubmitFunction}, ${callBackFunction})"), Symbol("id") -> formTemplate.submit.replace(".", "_"), Symbol("class") -> "disable")
                } else {
                    @commonJavascriptButton(formTemplate.submit, JavaScript(s"$runBeforeSubmit;" + s"submitForm('${refreshOverlay}', this, '${target}', ${checkBeforeSubmitFunction}, ${callBackFunction})"), Symbol("id") -> formTemplate.submit.replace(".", "_"))
                }
            }
            </div>
        </div>
    </div>
}