@import constants.FormField.{NestedFormField, StringFormField}
@import helper._
@import play.api.data.Field

@(formData: Form[_], formField: StringFormField, arguments: (Symbol, Any)*)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, nestedFormField: Option[NestedFormField] = None, sequentialFormField: Option[Field] = None)

<div id='@arguments.toMap.get(Symbol("containerDivID")).map(_.toString).getOrElse("")' class='@arguments.toMap.get(Symbol("containerDivClass")).map(_.toString).getOrElse("commonInputPassword")'>
@defining(Seq(Symbol("_label") -> Messages(formField.name), Symbol("placeholder") -> Messages(formField.placeHolder), Symbol("class") -> "am-input")) { defaultArguments =>
    @defining(
        sequentialFormField match {
            case Some(sequentialField: Field) => {
                nestedFormField match {
                    case Some(nestedField: NestedFormField) => {
                        //This case handles sequential subForms under a nested field. See userAddOrUpdateUBOs for example.
                        sequentialField.apply(formField.name)
                    }
                    case None => {
                        //This case handles seq fields on basic data types. See negotiationDocumentList for example.
                        sequentialField
                    }
                }
            }
            case None => {
                nestedFormField match {
                    case Some(field: NestedFormField) => {
                        //This case handles nested fields. See AddOrganization for example.
                        formData(Seq(field.name, formField.name).mkString("."))
                    }
                    case None => {
                        //This case handles generic fields.
                        formData(formField.name)
                    }
                }
            }
        }
    ) { field =>
        @inputPassword(field, defaultArguments ++ arguments: _*)
        <div id="minimumFieldError_@formField.name" data-minimum-length="@formField.minimumLength" class="mt-2 commonError hidden">@formField.getMinimumFieldErrorMessage()</div>
        <div id="maximumFieldError_@formField.name" class="mt-2 commonError hidden">@formField.getMaximumFieldErrorMessage()</div>
        <div id="regexFieldError_@formField.name" class="mt-2 commonError hidden">@formField.getRegexErrorMessage()</div>
    }
}
</div>