@import helper._
@import views.html.base.form._
@import views.profile.wishlist.companion.AddOrRemove
@import controllers.actions.LoginState

@(nft: master.NFT)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])

<div id="deleteFromWishlist_@nft.getFileHash" class="hidden">
@form(routes.WishlistController.delete()) {
    @CSRF.formField
    @commonInputText(AddOrRemove.form, constants.FormField.NFT_ID, Symbol("value") -> nft.id, Symbol("readonly") -> true, Symbol("containerDivClass") -> "hidden")
}
</div>