@import controllers.actions.LoginState
@import views.html.base.buttons._
@import views.html.base.modal._

@(collectionId: String, totalNftDrafts: Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@if(totalNftDrafts < constants.CommonConfig.MaxNFTDrafts) {
    <script src="@utilities.PublicResource.getVersionedRoute("javascripts/nfts/upload.js")"></script>

    <div class="modal-header mb-3">
        <div class="title-icon back-button-icon" id="modalBackButton" onclick="getForm(jsRoutes.controllers.NFTController.selectCollection())">
            <i class="bi bi-chevron-left iconDefault"></i>
        </div>
        <h5 class="modal-title" id="staticBackdropLabel">@Messages(constants.View.UPLOAD)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()">
                    &times;
        </button>
    </div>
    @multiStepNavigator(Seq(Messages(constants.View.NFT_STEPPER_FILE),Messages(constants.View.COLLECTION_STEPPER_BASIC_INFORMATION)))

    <div class="hidden" id="nftFileHashName"></div>

    <div class="d-flex gap-3">
    @views.html.base.commonUploadFile(constants.File.NFT_FILE_FORM, id = collectionId, documentType = constants.View.NFT, label = constants.View.UPLOAD_NFT_LABEL, onSuccessCallback = JavaScript("onSuccessfulUpload"))
    </div>

    <div class="horizontal-align">
    @commonPrimaryButton(constants.View.NEXT, JavaScript(s""), Symbol("id") -> "uploadNftNextButton", Symbol("class") -> "disable")
    </div>

    <script>
            passCollectionId("@collectionId");
    </script>
} else {
    <div class="d-flex gap-3 align-items-center maxDraftLimitInfo">
        <i class="bi bi-info-circle iconDefault iconLarge"></i>
        @Messages(constants.View.MAX_DRAFT_NFTS_REACHED)
    </div>
}