@import views.html.base.buttons._

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<link rel="stylesheet" media="screen" href="@utilities.PublicResource.getVersionedRoute("stylesheets/userProfile.css")"/>
<div class="modal-header mb-3">
    <h5 class="modal-title" id="staticBackdropLabel">@Messages(constants.View.ADD_NEW_WALLET_OPTION_TITLE)</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()">
                &times;
    </button>
</div>
<p class="sub-heading" id="modalSubtitle">@Messages(constants.View.ADD_NEW_WALLET_OPTION_SUBTITLE)</p>
<div class="optionBoxContainer">
    <div class="options">
        <label class="option" for="sendCoin" onclick="setNextButton('managed')">
            <input type="radio" name="addressType" id="sendCoin" value="managed" checked="checked"/>
            <div class="optionContent">
                <div class="optionDetails">
                    <span>@Messages(constants.View.MANAGED_KEY)</span>
                    <p>@Messages(constants.View.MANAGED_KEY_DESCRIPTION)</p>
                </div>
            </div>
        </label>

        <label class="option" for="addUnmanagedKey" onclick="setNextButton('unmanaged')">
            <input type="radio" id="addUnmanagedKey" name="addressType" value="unmanaged"/>
            <div class="optionContent">
                <div class="optionDetails">
                    <span>@Messages(constants.View.UNMANAGED_KEY)</span>
                    <p>@Messages(constants.View.UNMANAGED_KEY_DESCRIPTION)</p>
                </div>
            </div>
        </label>
    </div>
</div>
<div class="mt-3 horizontal-align">
    @commonPrimaryButton(constants.View.NEXT, JavaScript(s""),Symbol("id") -> "nextBtn", Symbol("class") -> "disable")
</div>

<script>
    setNextButton('managed');
    function setNextButton(addressType){
        $("#nextBtn").removeClass("disable");
        if(addressType === "managed"){
            $("#nextBtn").attr("onclick","getForm(@utilities.JsRoutes.getJsRouteString(constants.Form.ADD_MANAGED_KEY.get, ""))")
        }else{
            $("#nextBtn").attr("onclick","getForm(@utilities.JsRoutes.getJsRouteString(constants.Form.ADD_UNMANAGED_KEY.get, ""))")
        }
    }
</script>