@import views.setting.companion.AddUnmanagedKey
@import views.html.base.form._
@import views.html.base.buttons._

@(unmanagedAddressForm: Form[AddUnmanagedKey.Data] = AddUnmanagedKey.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<link rel="stylesheet" media="screen" href="@utilities.PublicResource.getVersionedRoute("stylesheets/userProfile.css")"/>
@commonForm(constants.Form.ADD_UNMANAGED_KEY, unmanagedAddressForm) {
    <div id="newUnmanagedAddressScreen" class="mb-0">
        <div class="modal-body">
            <div class="mb-3">
                <div class="inputField">
                    <div class="inputFieldBody">
                        @commonInputText(unmanagedAddressForm, constants.FormField.UNMANAGED_KEY_NAME, Symbol("autocomplete") -> "off", Symbol("id") -> "unmanagedKeyName", Symbol("oninput") -> "enableNavigationButton(0)")
                        @commonFieldErrorMessage(id = "keyNameError", message = Messages(constants.View.KEY_NAME_ERROR))
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="inputField">
                    <div class="inputFieldBody">
                        @commonInputText(unmanagedAddressForm, constants.FormField.UNMANAGED_KEY_ADDRESS, Symbol("autocomplete") -> "off", Symbol("id") -> "unmanagedKeyAddress", Symbol("oninput") -> "enableNavigationButton(0)")
                        @commonFieldErrorMessage(id = "walletAddressError", message = Messages(constants.View.WALLET_ADDRESS_ERROR))
                    </div>
                </div>
            </div>
        </div>
        <div class="horizontal-align">
            @commonPrimaryButton(constants.View.NEXT, JavaScript(s"showHideUnmanagedAddressModalScreen('#newUnmanagedAddressPasswordScreen', '#newUnmanagedAddressScreen')"),Symbol("id") -> "newUnmanagedAddressScreenBtn", Symbol("class") -> "disable")
        </div>
    </div>

    <div id="newUnmanagedAddressPasswordScreen" style="display: none;">
        <div class="mb-3 inputField">
            <div class="inputFieldBody">
                @commonInputPassword(unmanagedAddressForm, constants.FormField.PASSWORD, Symbol("autocomplete") -> "off", Symbol("id") -> "unmanagedMnemonicPassword", Symbol("oninput") -> "enableNavigationButton(1)")
                @commonFieldErrorMessage(id = "passwordError", message = Messages(constants.View.PASSWORD_ERROR))
            </div>
        </div>
    </div>
}
<script src="@utilities.PublicResource.getVersionedRoute("javascripts/settings/unmanagedAddress.js")" type="text/javascript"></script>