@import views.setting.companion.ChangeKeyName
@import views.html.base.form._

@(changeKeyNameForm: Form[ChangeKeyName.Data] = ChangeKeyName.form, address: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<link rel="stylesheet" media="screen" href="@utilities.PublicResource.getVersionedRoute("stylesheets/userProfile.css")"/>
@commonForm(constants.Form.CHANGE_KEY_NAME, changeKeyNameForm) {
    <div class="modal-body">
        <div class="mb-3">
            <div class="inputField">
                <div class="inputFieldBody">
                    @commonInputText(changeKeyNameForm, constants.FormField.CHANGE_KEY_ADDRESS, Symbol("autocomplete") -> "off", Symbol("id") -> "changeKeyAddress", Symbol("value") -> address, Symbol("readonly") -> "readonly")
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="inputField">
                <div class="inputFieldBody">
                    @commonInputText(changeKeyNameForm, constants.FormField.CHANGE_KEY_NAME, Symbol("autocomplete") -> "off", Symbol("id") -> "changeKeyName")
                </div>
            </div>
        </div>
    </div>
}