@import views.setting.companion.DeleteKey
@import views.html.base.form._

@(deleteKeyForm: Form[DeleteKey.Data] = DeleteKey.form, address: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<link rel="stylesheet" media="screen" href="@utilities.PublicResource.getVersionedRoute("stylesheets/userProfile.css")"/>
@commonForm(constants.Form.DELETE_KEY, deleteKeyForm) {
    <div class="modal-body">
        <div class="mb-3">
            <div class="inputField">
                <div class="inputFieldBody">
                @commonInputText(deleteKeyForm, constants.FormField.WALLET_ADDRESS, Symbol("value") -> address, Symbol("readonly") -> "readonly")
                </div>
            </div>

            <div class="mt-3 inputField">
                <div class="inputFieldBody">
                @commonInputPassword(deleteKeyForm, constants.FormField.PASSWORD, Symbol("autocomplete") -> "off", Symbol("id") -> "deleteAccountPassword")
                </div>
            </div>
        </div>
    </div>
}