@import views.html.base.modal._

@(address: String, name: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@successModal(heading = constants.View.ADD_WALLET_ADDRESS_SUCCESS_TITLE, "")
<div class="header-success">
    <div class="form-body">
        <div class="text-center">
            <div class="mt-2 mx-5 form-success-message-sub-text">@Messages(constants.View.ADD_WALLET_ADDRESS_SUCCESS_SUBTITLE)</div>
        </div>
    </div>
</div>
<div class="form-address-box">
    <div class="form-address-box-item">
        <span class="address-box-label">@Messages(constants.View.PROFILE_IDENTITY_ADDRESS)</span>
        <span class="address-box-text">
            <span class="username-data" data-value="@address">@address</span>
            <span class="form-copy-icon" onclick="copyToClipboard(this)">
                <i class="bi bi-files iconDefault iconMedium"></i>
            </span>
            <span class="form-copy-message">@Messages(constants.View.TOOLTIP_COPIED)</span>
        </span>
    </div>
</div>
<script> updateKeyName(); </script>