@import views.setting.companion.ViewMnemonics
@import views.html.base.form._

@(viewMnemonicsForm: Form[ViewMnemonics.Data] = ViewMnemonics.form, address: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<link rel="stylesheet" media="screen" href="@utilities.PublicResource.getVersionedRoute("stylesheets/userProfile.css")"/>
@commonForm(constants.Form.VIEW_MNEMONICS, viewMnemonicsForm) {
    @commonInputText(viewMnemonicsForm, constants.FormField.WALLET_ADDRESS, Symbol("value") -> address, Symbol("readonly") -> "readonly")
    <div class="modal-body">
        <div class="mb-3">
            <div class="inputField">
                <div class="inputFieldBody">
                @commonInputPassword(viewMnemonicsForm, constants.FormField.PASSWORD, Symbol("autocomplete") -> "off", Symbol("id") -> "viewMnemonicsPassword")
                </div>
            </div>
        </div>
    </div>
}