@import constants.Collection.CollectionStatus

@(collection: master.Collection, onClickFunction: JavaScript, status: CollectionStatus)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div class="collectionCardContainer">
    <div class="single-profile-card commonCollectionCard artCollection">
        <div class="profile-section">
            <div onclick="@onClickFunction" class="collectionLink">
                @if(status.id > 0) {
                    <div class="saleBadge" id="saleBadge_@collection.id">
                        <div class="option live">
                            <div class="d-flex gap-2 align-items-center">
                                <div class="statusDotWrapper">
                                    <div class="statusDotEmitter">
                                        <div class="statusDotWave"></div>
                                    </div>
                                </div>
                                <div class="statusMessage" id="statusMessage_@collection.id">@Messages(constants.View.COLLECTION_CARD_SALE_BADGE_LABEL_LIVE)</div>
                            </div>
                        </div>
                        <div class="option soldOut">
                            <div class="d-flex gap-2 align-items-center">
                                <div class="statusDotWrapper">
                                    <div class="statusDotEmitter">
                                        <div class="statusDotWave"></div>
                                    </div>
                                </div>
                                <div class="statusMessage" id="statusMessage_@collection.id">@Messages(constants.View.COLLECTION_CARD_SALE_BADGE_LABEL_SOLD_OUT)</div>
                            </div>
                        </div>
                        <div class="option ended">
                            <div class="d-flex gap-2 align-items-center">
                                <div class="statusDotWrapper">
                                    <div class="statusDotEmitter">
                                        <div class="statusDotWave"></div>
                                    </div>
                                </div>
                                <div class="statusMessage" id="statusMessage_@collection.id">@Messages(constants.View.COLLECTION_CARD_SALE_BADGE_LABEL_ENDED)</div>
                            </div>
                        </div>
                    </div>
                }

                <div id="collectionCoverImage_@collection.id">
                    <div class="hero-img skeletonLoadContainer">
                    @collection.getCoverFileURL.fold {
                        <img src="@routes.Assets.versioned("images/defaultCollectionCover.png")"/>
                    } { uri =>
                        <img src="@uri"/>
                    }
                    </div>
                </div>
            </div>
            <div class="profile-detail">
                <div id="collectionProfileImage_@collection.id">
                    <div class="profile-img skeletonLoadContainer">
                        <div onclick="@onClickFunction" class="collectionLink">
                        @collection.getProfileFileURL.fold {
                            <img src="@routes.Assets.versioned("images/defaultCollectionProfile.png")"/>
                        } { uri =>
                            <img src="@uri"/>
                        }
                        </div>
                    </div>
                </div>
                <div id="content">
                    <div class="collectionDetail">
                        <div class="leftInfo">
                            <div onclick="@onClickFunction" class="collectionLink">
                                <h1>@collection.name</h1>
                            </div>
                            <div class="d-flex justify-content-between collectionBottomContainer">
                                <a href="/profile/@collection.creatorId">
                                    <p class="pb-0">
                                    @Seq("@", collection.creatorId).mkString
                                    </p>
                                </a>
                                <div class="collectionStats">
                                    <div class="d-flex gap-2 gap-md-3 collectionStatsContainer">
                                        <div class="d-flex gap-2 justify-content-between collectionStatsBadge">
                                            <div class="badgeLabel">@Messages(constants.View.COLLECTION_CARD_BADGE_LABEL_ASSETS)</div>
                                            <div id="counCollectionNFTs_@collection.id" class="badgeValue">0</div>
                                        </div>
                                        <div class="d-flex gap-2 justify-content-between collectionStatsBadge">
                                            <div class="badgeLabel">@Messages(constants.View.COLLECTION_CARD_BADGE_LABEL_PRICE)</div>
                                            <div id="collectionNFTsPrice_@collection.id" class="badgeValue">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rightInfo">
                            <div class="d-flex flex-column gap-3">
@*                                <div class="align-self-end collectionStatus">*@
@*                                    <div class="d-flex statusOptions">*@
@*                                        <div class="iconTooltip">*@
@*                                            <span class="tooltipText top">@Messages(constants.View.WHITELIST_ICON_LEAVE)</span>*@
@*                                            <div class="option option1 active">*@
@*                                                <i class="bi bi-currency-dollar"></i>*@
@*                                            </div>*@
@*                                        </div>*@
@*                                        <div class="iconTooltip">*@
@*                                            <span class="tooltipText top">@Messages(constants.View.WHITELIST_ICON_LEAVE)</span>*@
@*                                            <div class="option option2 active">*@
@*                                                <i class="bi bi-tag"></i>*@
@*                                            </div>*@
@*                                        </div>*@
@*                                        <div class="iconTooltip">*@
@*                                            <span class="tooltipText top">@Messages(constants.View.WHITELIST_ICON_LEAVE)</span>*@
@*                                            <div class="option option3 active">*@
@*                                                <i class="bi bi-link-45deg"></i>*@
@*                                            </div>*@
@*                                        </div>*@
@*                                    </div>*@
@*                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>commonCollectionCardInfo('@collection.id', @status.id);
showLoader();</script>