@import controllers.actions.LoginState
@import views.collection.companion.Create
@import views.html.base.form._
@import views.html.base.modal._

@(createForm: Form[Create.Data] = Create.form, totalDrafts: Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

@if(totalDrafts < constants.CommonConfig.MaxCollectionDrafts) {
    <div id="createCollectionForm">
    @commonForm(constants.Form.CREATE_COLLECTION, createForm) {
        @multiStepNavigator(Seq(Messages(constants.View.COLLECTION_STEPPER_BASIC_INFORMATION), Messages(constants.View.COLLECTION_STEPPER_IMAGE_UPLOAD)))
        @commonInputText(createForm, constants.FormField.COLLECTION_NAME)
        @commonDescriptionText(createForm, constants.FormField.COLLECTION_DESCRIPTION)
        @commonInputText(createForm, constants.FormField.ADDRESS)
        @commonInputText(createForm, constants.FormField.POSTAL_CODE)
        @commonInputText(createForm, constants.FormField.CITY)
        @commonInputText(createForm, constants.FormField.CONTACT_NUMBER)
        @commonSelect(createForm, constants.FormField.CATEGORY)
        @commonInputEpochTIme(createForm, constants.FormField.EVENT_START_EPOCH, setCurrentTime = false)
        @commonInputEpochTIme(createForm, constants.FormField.EVENT_END_EPOCH, setCurrentTime = false)
        @commonInputBigDecimal(createForm, constants.FormField.COLLECTION_ROYALTY, Symbol("value") -> 2.0)
        @commonInputURL(createForm, constants.FormField.COLLECTION_WEBSITE, Symbol("required") -> false)
        @commonInputText(createForm, constants.FormField.COLLECTION_TWITTER, Symbol("required") -> false)
        @commonInputText(createForm, constants.FormField.COLLECTION_INSTAGRAM, Symbol("required") -> false)

        <div class="d-flex align-items-center mt-4">
            @commonCheckbox(createForm, constants.FormField.CREATE_COLLECTION_TERMS_AND_CONDITION, Symbol("id") -> "termsCondition", Symbol("oninput") -> """activeButton()""")
            <span class="termsConditionMessage">
                <label for="termsCondition">
                @Messages(constants.View.CREATE_COLLECTION_TERMS_CONDITION_MESSAGE)
                </label>
                <a class="link" onclick="showHideModalScreen('#createCollectionTermsConditionModal', '#createCollectionForm')">@Messages(constants.View.TERMS_CONDITION_LABEL)</a>
            </span>
        </div>
        <div class="d-flex align-items-center mt-4">
            @commonCheckbox(createForm, constants.FormField.CREATE_COLLECTION_MOU, Symbol("id") -> "mou", Symbol("oninput") -> """activeButton()""")
            <span class="termsConditionMessage">
                <label for="mou">
                @Messages(constants.View.CREATE_COLLECTION_MOU_MESSAGE)
                </label>
                <a class="link" onclick="showHideModalScreen('#createCollectionMoU', '#createCollectionForm')">@Messages(constants.View.MOU_LABEL)</a>
            </span>
        </div>
    }
    </div>

    <div id="createCollectionTermsConditionModal" style="display: none;">
    @views.html.collection.termsConditions()
    </div>
    <div id="createCollectionMoU" style="display: none;">
    @views.html.collection.mou(creatorId = loginState.username)
    </div>
} else {
    <div class="d-flex gap-3 align-items-center maxDraftLimitInfo">
        <i class="bi bi-info-circle iconDefault iconLarge"></i>
        @Messages(constants.View.MAX_DRAFT_COLLECTIONS_REACHED)
    </div>
}
<script src="@utilities.PublicResource.getVersionedRoute("javascripts/collections/createCollection.js")"></script>