@(creatorId: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<div class="header-with-icon">
    <div class="d-flex align-items-center form-top">
        <div class="title-icon back-button-icon" onclick="showHideModalScreen('#createCollectionForm', '#createCollectionMoU')">
            <i class="bi bi-chevron-left iconDefault"></i>
        </div>
        <div class="title-text">@Messages(constants.View.MOU_TITLE)</div>
    </div>
</div>
<div class="terms-condition-box">
    @Messages(constants.View.MOU_1, creatorId)
    <br>
    @Messages(constants.View.MOU_2)
    <br>
    @Messages(constants.View.MOU_3)
    <br>
    @Messages(constants.View.MOU_4)
    <br>
    @Messages(constants.View.MOU_5)
    <br>
    @Messages(constants.View.MOU_6)
    <br>
    @Messages(constants.View.MOU_7)
    <br>
    @Messages(constants.View.MOU_8)
    <br>
    @Messages(constants.View.MOU_9)
    <br>
    @Messages(constants.View.MOU_10)
    <br>
    @Messages(constants.View.MOU_11)
    <br>
    @Messages(constants.View.MOU_12)
    <br>
    @Messages(constants.View.MOU_13)
    <br>
    @Messages(constants.View.MOU_14)
    <br>
    @Messages(constants.View.MOU_15)
    <br>
    @Messages(constants.View.MOU_16)
    <br>
    @Messages(constants.View.MOU_17)
</div>