@import views.html.base._
@import controllers.actions.LoginState
@import models.master.Collection

@(collection: Collection)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: LoginState)

<div class="modal-header mb-3">
    <div class="title-icon back-button-icon" id="modalBackButton" onclick="getForm(jsRoutes.controllers.CollectionController.editForm('@collection.id'))">
        <i class="bi bi-chevron-left iconDefault"></i>
    </div>
    <h5 class="modal-title" id="staticBackdropLabel">@Messages(constants.View.COLLECTION_PROFILE_COVER_TITLE)</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()">
                &times;
    </button>
</div>

<div class="d-flex gap-3 flex-column flex-sm-row">
    @commonUploadFile(fileUploadForm = constants.File.COLLECTION_FILE_FORM, id = collection.id, documentType = constants.Collection.File.PROFILE, label = constants.View.COLLECTION_PROFILE_IMAGE_TITLE, fileUrl = collection.getProfileFileURL)
    @commonUploadFile(fileUploadForm = constants.File.COLLECTION_FILE_FORM, id = collection.id, documentType = constants.Collection.File.COVER, label = constants.View.COLLECTION_COVER_IMAGE_TITLE, fileUrl = collection.getCoverFileURL)
</div>