@import controllers.actions.LoginState
@import models.master.{Collection, NFTOwner}
@import views.html.base.commonStringValue
@import models.master.SecondaryMarket

@(nft: master.NFT, collection: Collection, nftOwner: Option[NFTOwner], numberOfOwners: Int, secondaryMarket: Option[SecondaryMarket])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])
<div class="sticky-top item-sticky">
    <div class="card rightInfoCard">
        <div class="title">@Messages(constants.View.NFT_DETAIL_CARD_COLLECTION_TITLE)</div>
        <div class="d-flex gap-2 align-items-center badgeImageText" onclick="viewCollection('@collection.id')">
            @collection.getProfileFileURL.fold {
                <img src="@routes.Assets.versioned("images/defaultCollectionProfile.png")"/>
            } { uri =>
                <img src="@uri">
            }
            <div class="badgeText">
            @commonStringValue(message = collection.name, id = utilities.IdGenerator.getRandomHexadecimal, length = 16, showToolTip = false)
            </div>
        </div>
        <div class="separator"></div>
        <div class="title">@Messages(constants.View.NFT_DETAIL_CARD_CREATOR_TITLE)</div>
        <div class="d-flex gap-2 align-items-center badgeImageText" onclick="viewProfile('@collection.creatorId/@constants.View.COLLECTED')">
            <img src="@routes.Assets.versioned("images/defaultCollectionProfile.png")"/>
            <div class="badgeText">
            @commonStringValue(message = collection.creatorId, id = utilities.IdGenerator.getRandomHexadecimal, length = 16, showToolTip = false)
            </div>
        </div>
        <div class="separator"></div>
        @if(secondaryMarket.isDefined) {
            <div class="title">@Messages(constants.View.NFT_DETAIL_CARD_OWNER_TITLE) [@Messages(constants.View.LISTED)]</div>
        } else {
            <div class="title">@Messages(constants.View.NFT_DETAIL_CARD_OWNER_TITLE)</div>
        }
        @if(nft.totalSupply == 1) {
            <div class="d-flex gap-2 align-items-center badgeImageText" onclick="viewProfile('@nftOwner.fold(secondaryMarket.fold("")(_.sellerId))(_.ownerId)/@constants.View.COLLECTED')">
                <img src="@routes.Assets.versioned("images/defaultCollectionProfile.png")"/>
                <div class="badgeText">
                @commonStringValue(message = nftOwner.fold(secondaryMarket.fold("")(_.sellerId))(_.ownerId), id = utilities.IdGenerator.getRandomHexadecimal, length = 16, showToolTip = false)
                </div>
            </div>
        } else {
            <div class="d-flex gap-2 align-items-center badgeImageText">
                <img src="@routes.Assets.versioned("images/defaultCollectionProfile.png")"/>
                <div class="badgeText">
                @commonStringValue(message = s"${numberOfOwners.toString} owners", id = utilities.IdGenerator.getRandomHexadecimal, length = 16, showToolTip = false)
                </div>
            </div>
        }
    </div>
</div>