@import controllers.actions.LoginState

@(nft: master.NFT, liked: Option[Boolean])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])

<div class="sticky-top item-sticky">
    <div class="card leftInfoCard">
        <div class="title d-flex align-items-center justify-content-between">@nft.name
        <span><a href="@nft.getExplorerUrl" target="_blank" class="p-0 lh-sm">
            <i class="bi bi-globe iconDefault"></i>
        </a></span>
        </div>
        <div class="description">
            @nft.description
        </div>
        <div class="separator"></div>
        <div class="d-flex justify-content-end">
            @if(loginState.nonEmpty) {
                <div class="d-flex align-items-center gap-2">
                    <div id="addToWishlistContainer_@nft.getFileHash" class="hidden">
                    @views.html.nft.addToWishlist(nft)
                    </div>
                    <div id="deleteFromWishlistContainer_@nft.getFileHash" class="hidden">
                    @views.html.nft.deleteFromWishlist(nft)
                    </div>
                    <span onclick="addRemoveWishlist(this, '@nft.getFileHash', '@Messages(constants.View.ADDED_TO_WISHLIST)', '@Messages(constants.View.REMOVED_FROM_WISHLIST)')">
                    @views.html.nft.commonCardWishlistButton(liked.getOrElse(false))
                    </span>
                    <div class="nft-likes" data-id="@nft.id">00</div>
                </div>
            } else {
                <div class="d-flex align-items-center gap-2" onclick="getForm(@utilities.JsRoutes.getJsRouteString(constants.Form.SIGN_IN_WITH_CALLBACK.get, s"'/collection/${nft.collectionId}'"))">
                    <span>
                    @views.html.nft.commonCardWishlistButton()
                    </span>
                    <div class="nft-likes" data-id="@nft.id">00</div>
                </div>
            }
        </div>
    </div>
</div>
<script src="@utilities.PublicResource.getVersionedRoute("javascripts/nfts/wishlist.js")"></script>