@import controllers.actions.LoginState

@(collection: master.Collection, nft: master.NFT, isNFTOwner: Boolean, liked: Option[Boolean])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])

<div class="item item-center nftPreviewContainer">
    <div class="d-flex justify-content-between">
        @* @if(collection.getWebsite.isDefined) {*@
        @* <ul class="d-flex gap-3 rightOptions">*@
        @* <li><a href="@collection.getWebsite.get" target="_blank">*@
        @* <i class="bi bi-globe2 iconDefault iconMedium icon"></i>*@
        @* </a></li>*@
        @* </ul>*@
        @* }*@
    </div>
    <div class="mt-2 nftImagePreview">
        <a href="@nft.getS3Url" target="_blank">
            <div id="nftImage_@nft.id" class="position-relative">
                @if(nft.isImageType) {
                    <img src="@nft.getS3Url" alt="@nft.name">
                }
                @if(nft.isAudioType) {
                    @collection.getCoverFileURL.fold {
                        <img src="@routes.Assets.versioned("images/defaultCollectionCover.png")"/>
                    } { uri =>
                        <img src="@uri"/>
                    }
                    <div class="mb-2 audioNftContainer">
                        <audio controls class="audioPlayer" onloadeddata="setDuration(this)" onended="resetAudioPlayer(this)">
                            <source src="@nft.getS3Url">
                        </audio>

                        <div class="controls">
                            <div class="playButtonContainer withTimeline">
                                <div class="playButton" onclick="playToggle(this)">
                                    <i class="bi bi-play"></i>
                                </div>
                                <div class="timelineContainer">
                                    <div class="timeline" onclick="skipAudio(this)">
                                        <div class="progress"></div>
                                    </div>
                                    <div class="time">
                                        <div class="current">0:00</div>
                                        <div class="divider">/</div>
                                        <div class="length"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="volumeContainer">
                                <div class="volumeButton" onclick="muteVolume(this)">
                                    <i class="bi bi-volume-up"></i>
                                </div>

                                <div class="volumeSlider" onclick="setVolume(this)">
                                    <div class="volumePercentage"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if(isNFTOwner && loginState.isDefined) {
                <div class ="nftImageOverOwner">
                    <p>@loginState.get.username</p>
                </div>
            }
        </a>
    </div>
    <div class="nftPropertyContainer">
        <div class="title">
            <ul class="d-flex flex-row justify-content-between">
                <li>@Messages(constants.View.PROPERTIES)</li>
                <li><i class="bi bi-chevron-up iconDefault dropdownIcon" id="showHidePropertyButton" onclick="openPropertyList()"></i></li>
            </ul>
        </div>
        <div class="propertyListContainer">
            <div class="d-flex flex-row flex-wrap gap-3 propertyList">
                <div class="singleProperty">
                    <div class="propertyName">@Messages(constants.View.NAME)</div>
                    <div class="mt-2 propertyValue">
                    @nft.name
                    </div>
                </div>
                <div class="singleProperty">
                    <div class="propertyName">@Messages(constants.View.DESCRIPTION)</div>
                    <div class="mt-2 propertyValue">
                    @nft.description
                    </div>
                </div>
                <div class="singleProperty">
                    <div class="propertyName">@Messages(constants.View.ADDRESS)</div>
                    <div class="mt-2 propertyValue">
                    @collection.detail.address
                    </div>
                </div>
                <div class="singleProperty">
                    <div class="propertyName">@Messages(constants.View.POSTAL_CODE)</div>
                    <div class="mt-2 propertyValue">
                    @collection.detail.postalCode
                    </div>
                </div>
                <div class="singleProperty">
                    <div class="propertyName">@Messages(constants.View.CONTACT_NUMBER)</div>
                    <div class="mt-2 propertyValue">
                    @collection.detail.contactNumber
                    </div>
                </div>
                <div class="singleProperty">
                    <div class="propertyName">@Messages(constants.View.VALID_FROM)</div>
                    <div id="nftStartEpochTime" class="mt-2 propertyValue">
                    @collection.detail.startEpochTime
                    </div>
                    <script>epochToDateTime('nftStartEpochTime')</script>
                </div>
                <div class="singleProperty">
                    <div class="propertyName">@Messages(constants.View.VALID_TILL)</div>
                    <div id="nftEndEpochTime" class="mt-2 propertyValue">
                    @collection.detail.endEpochTime
                    </div>
                    <script>epochToDateTime('nftEndEpochTime')</script>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="@utilities.PublicResource.getVersionedRoute("javascripts/nfts/view.js")" type="text/javascript"></script>
<script>
        setSharableLink("@collection.getCoverFileURL");
</script>