@import controllers.actions.LoginState
@import models.master.{Collection, Sale}
@import views.html.base.buttons._

@(collection: Collection, sale: Option[Sale], isMember: Boolean)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, optionalLoginState: Option[LoginState])

@if(sale.isDefined) {
    <div class="d-flex justify-content-between align-items-center">
        <div class="title">@Messages(constants.View.WHITELIST_SALE_TITLE)</div>
        @if(sale.get.getStatus.id == constants.Sale.LIVE.id) {
            <div class="badge">@Messages(constants.View.SALE_LIVE_LABEL)</div>
        }
        @if(sale.get.getStatus.id == constants.Sale.SOLD_OUT.id) {
            <div class="badge">@Messages(constants.Sale.SOLD_OUT.value)</div>
        }
        @if(sale.get.getStatus.id == constants.Sale.ENDED.id) {
            <div class="badge">@Messages(constants.Sale.ENDED.value)</div>
        }
    </div>
    @views.html.base.commonProgressBar(totalSold = sale.get.totalSold, totalOnSale = sale.get.numberOfNFTs)
    <div class="analysisValue mb-2 mt-4">@Messages(constants.View.COLLECTION_SALE_PRICE)</div>
    <div class="d-flex flex-row gap-1 priceHolder">
        <img class="align-middle" src="@routes.Assets.versioned("images/NFTCard/token.svg")" width="24" height="27"/>
        <div class="d-flex gap-1 align-items-center flex-wrap">
            <div class="nft-mantle-price">@sale.get.price.toString @Messages(constants.View.NFT_SALE_TOKEN_UNITS)</div>
            <div class="nft-dollar-price">(@utilities.NumericOperation.formatNumber(sale.get.price) $)</div>
        </div>
    </div>

    <div class="d-flex flex-column gap-1 mt-3">
        <div class="analysisValue">@Messages(constants.View.COLLECTION_MAXIMUM_MINT_PER_USER, sale.get.maxPerAccount)</div>
    </div>
    @if(sale.get.getStatus.id == constants.Sale.NOT_STARTED.id) {
        <div class="d-flex flex-column gap-1 mt-3">
            <div class="analysisTitle">@Messages(constants.View.SALE_START_TIME)</div>
            <div id="countdown_@sale.get.startTimeEpoch" class="d-flex gap-2 analysisValue">
            @sale.get.startTimeEpoch
            </div>
        </div>
        <script>epochToDateTime('countdown_@sale.get.startTimeEpoch');</script>
    } else {
        @if(sale.get.getStatus.id == constants.Sale.SOLD_OUT.id) {
        } else {
            <div class="d-flex flex-column gap-1 mt-3">
                <div class="analysisTitle">@Messages(constants.View.SALE_ENDS_IN)</div>
                <div id="countdown_@sale.get.endTimeEpoch" class="d-flex gap-2 analysisValue">
                @sale.get.endTimeEpoch
                </div>
            </div>
            <script>epochToDateTime('countdown_@sale.get.endTimeEpoch');</script>
            @if(isMember && sale.get.getStatus.id == constants.Sale.LIVE.id) {
                @commonPrimaryButton(Messages(constants.View.BUYNOW), JavaScript(s"getForm(jsRoutes.controllers.SaleController.buySaleNFTForm('${sale.get.id}'))"), Symbol("class") -> "mt-4")
            }
            @if(optionalLoginState.isDefined && collection.creatorId == optionalLoginState.get.username) {
                @commonPrimaryButton(Messages(constants.Form.STOP_WHITELIST_SALE.button), JavaScript(s"getForm(jsRoutes.controllers.SaleController.stopForm('${sale.get.id}'))"), Symbol("class") -> "mt-4")
            }
        }
    }
    <script src="@utilities.PublicResource.getVersionedRoute("javascripts/collections/whitelistSale.js")"></script>
}