@import controllers.actions.LoginState
@import models.master.{Collection, NFTOwner, SecondaryMarket}
@import views.html.base.buttons._

@(nftId: String,collection: Collection, isOwner: Boolean, lowestPriceSecondaryMarket: Option[SecondaryMarket], userSecondaryMarkets: Seq[SecondaryMarket])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, optionalLoginState: Option[LoginState])

@if(isOwner) {
    <div class="separator"></div>
    @commonPrimaryButton(Messages(constants.View.SELL_NFT), JavaScript(s"getForm(jsRoutes.controllers.SecondaryMarketController.createForm('${nftId}'))"), Symbol("class") -> "mt-4")
}
@if((lowestPriceSecondaryMarket.isDefined && userSecondaryMarkets.isEmpty) || (lowestPriceSecondaryMarket.isDefined && userSecondaryMarkets.nonEmpty && lowestPriceSecondaryMarket.get.id != userSecondaryMarkets.minBy(_.price).id)) {
    <div class="separator"></div>
    <div class="analysisValue mb-2">@Messages(constants.View.LOWEST_NFT_PRICE)</div>
    <div class="d-flex flex-row gap-1 priceHolder">
        <img class="align-middle" src="@routes.Assets.versioned("images/NFTCard/token.svg")" width="24" height="27"/>
        <div class="d-flex gap-1 align-items-center flex-wrap">
            <div class="nft-mantle-price">@utilities.NumericOperation.formatNumber(lowestPriceSecondaryMarket.get.price) @Messages(constants.View.NFT_SALE_TOKEN_UNITS)
                per Unit</div>
            <div class="nft-dollar-price">
                (@utilities.NumericOperation.formatNumber(lowestPriceSecondaryMarket.get.price) $)</div>
        </div>
    </div>
    @commonPrimaryButton(Messages(constants.View.BUYNOW), JavaScript(s"getForm(jsRoutes.controllers.SecondaryMarketController.buyForm('${lowestPriceSecondaryMarket.get.id}'))"), Symbol("class") -> "mt-4")
    @Messages(constants.View.OTHER_OFFERS)
}
@if(userSecondaryMarkets.nonEmpty && userSecondaryMarkets.minBy(_.price).sellerId == optionalLoginState.get.username) {
    <div class="separator"></div>
    <div class="analysisValue mb-2">@Messages(constants.View.SELLER_NFT_PRICE)</div>
    <div class="d-flex flex-row gap-1 priceHolder">
        <img class="align-middle" src="@routes.Assets.versioned("images/NFTCard/token.svg")" width="24" height="27"/>
        <div class="d-flex gap-1 align-items-center flex-wrap">
            <div class="nft-mantle-price">@utilities.NumericOperation.formatNumber(userSecondaryMarkets.minBy(_.price).price) @Messages(constants.View.NFT_SALE_TOKEN_UNITS)
                per Unit</div>
            <div class="nft-dollar-price">
                (@utilities.NumericOperation.formatNumber(userSecondaryMarkets.minBy(_.price).price) $)</div>
        </div>
    </div>
    @commonPrimaryButton(Messages(constants.View.CANCEL_ORDER), JavaScript(s"getForm(jsRoutes.controllers.SecondaryMarketController.cancelForm('${nftId}', '${userSecondaryMarkets.minBy(_.price).id}'))"), Symbol("class") -> "mt-4")
}