@import play.api.routing.JavaScriptReverseRoute
@import views.html.base._

@(form: constants.Form, arguments: (Symbol, Any)*)(implicit messagesProvider: MessagesProvider)

<button class="secondaryButton" cl id='@arguments.toMap.get(Symbol("id")).map(_.toString).getOrElse("")' class='@Seq("uk-button", arguments.toMap.get(Symbol("class")).map(_.toString).getOrElse("buttonPrimary")).mkString(" ")'  onclick="getForm(@utilities.JsRoutes.getJsRouteString(form.get, arguments.toMap.get(Symbol("parameters")).map(_.toString).getOrElse("")))">
    @if(arguments.toMap.get(Symbol("icon")).map(_.toString).isDefined) {
        @commonIcon(id = arguments.toMap.get(Symbol("icon")).map(_.toString).getOrElse("")) @Messages(form.button)
    }else{
        @Messages(form.button)
    }
</button>
@*Example Usage: @commonFormButton(constants.View.IDENTIFICATION, 'parameters -> "'Abhinav', 1996") *@