@(name: String, function: JavaScript, icon: String, size: String, iconFirst: Boolean, arguments: (Symbol, Any)*)(implicit messagesProvider: MessagesProvider)

<div class="@Seq("paginationButton", arguments.toMap.get(Symbol("class")).map(_.toString).getOrElse(""), size).mkString(" ")" id='@arguments.toMap.get(Symbol("id")).map(_.toString).getOrElse("")' onclick="@function">
    <div class="d-flex gap-1 justify-content-center align-items-center">
    @if(iconFirst) {
        <i class="bi @icon iconDefault"></i>
        @Messages(name)
    } else {
        @Messages(name)
        <i class="bi @icon iconDefault"></i>
    }
    </div>
</div>