@import views.account.companion.ChangePassword
@import views.html.base.form._

@(changePassword: Form[ChangePassword.Data] = ChangePassword.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.CHANGE_PASSWORD, changePassword) {
    <div class="modal-body">
        <div class="mb-3">
            <div class="inputField">
                <div class="inputFieldBody">
                    @commonInputPassword(changePassword, constants.FormField.OLD_PASSWORD, Symbol("autocomplete") -> "off", Symbol("id") -> "oldPassword")
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="inputField">
                <div class="inputFieldBody">
                    <div class="usernameAvailability">
                        <div class="fieldIcon showPassword" id="showPassword" onclick="showPassword()">
                            <span class="eyeIcon closeEye">
                                <i class="bi bi-eye-slash iconDefault"></i>
                            </span>
                            <span class="eyeIcon openEye hidden">
                                <i class="bi bi-eye iconDefault"></i>
                            </span>
                        </div>
                        @commonInputPassword(changePassword, constants.FormField.CHANGE_PASSWORD, Symbol("autocomplete") -> "off", Symbol("id") -> "changePassword", Symbol("onblur") -> "checkNewPassword()")
                        <div class="error-message">
                            <div class="error-info error-info-1">
                                <span class="error-icon"></span>
                                <span class="error-text">@Messages(constants.View.NEW_PASSWORD_RULE_1)</span>
                            </div>
                            <div class="error-info error-info-2">
                                <span class="error-icon"></span>
                                <span class="error-text">@Messages(constants.View.NEW_PASSWORD_RULE_2)</span>
                            </div>
                            <div class="error-info error-info-3">
                                <span class="error-icon"></span>
                                <span class="error-text">@Messages(constants.View.NEW_PASSWORD_RULE_3)</span>
                            </div>
                            <div class="error-info error-info-4">
                                <span class="error-icon"></span>
                                <span class="error-text">@Messages(constants.View.NEW_PASSWORD_RULE_4)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="inputField">
                <div class="inputFieldBody">
                    <div class="usernameAvailability">
                        @commonInputPassword(changePassword, constants.FormField.CHANGE_CONFIRM_PASSWORD, Symbol("autocomplete") -> "off", Symbol("id") -> "changeConfirmPassword", Symbol("oninput") -> "checkPasswords()")
                        @commonFieldErrorMessage(id = "repeatPasswordError", message = Messages(constants.View.REPEAT_PASSWORD_MISMATCH))
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="@utilities.PublicResource.getVersionedRoute("javascripts/account/changePassword.js")" type="text/javascript"></script>