@import views.account.companion.ForgotPassword
@import views.html.base.form._
@import views.html.base.modal._
@import views.html.base.buttons._

@(forgetPassword: Form[ForgotPassword.Data] = ForgotPassword.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.FORGET_PASSWORD, forgetPassword, showBackButton = true, showScreen = "#forgotPasswordUsername", hideScreen = "#forgotPasswordSeedInput") {

    <div id="forgotPasswordUsername" class="mb-0">
        <div class="mb-3 inputField">
            <div class="inputFieldBody">
                @commonInputText(forgetPassword, constants.FormField.USERNAME, Symbol("id") -> "username", Symbol("autocomplete") -> "off", Symbol("oninput") -> "enableNavigationButton(0)")
                @commonFieldErrorMessage(id = "usernameError", message = Messages(constants.View.FORGOT_PASSWORD_USERNAME_ERROR))
            </div>
        </div>
        <div class="inputField">
            <div class="inputFieldBody">
                @commonInputText(forgetPassword, constants.FormField.WALLET_ADDRESS, Symbol("id") -> "walletAddress", Symbol("autocomplete") -> "off", Symbol("oninput") -> "enableNavigationButton(0);")
                @commonFieldErrorMessage(id = "walletAddressError", message = Messages(constants.View.FORGOT_PASSWORD_WALLET_ADDRESS_ERROR))
            </div>
        </div>
        <div class="horizontal-align">
            @commonPrimaryButton(constants.View.NEXT, JavaScript(s"showHideForgotModalScreen('#forgotPasswordSeedInput', '#forgotPasswordUsername', 1)"), Symbol("id") -> "navigationButtonPage0")
        </div>
    </div>

    <div id="forgotPasswordSeedInput" style="display: none;
        margin-bottom: 0px;">
        <div class="mb-2 form-input-text">
            <div class="form-phrase-text">@Messages(constants.View.SEED_PHRASE_MESSAGE)</div>
        </div>
        <div class="d-flex mb-3 form-seed-box-list">
            <div class="form-seed-box">
                @commonInputText(forgetPassword, constants.FormField.SEED_PHRASE_1, Symbol("id") -> "phrase1", Symbol("class") -> "form-seed-box-phrase", Symbol("autocomplete") -> "off", Symbol("oninput") -> "enableNavigationButton(1)")
            </div>
            <div class="form-seed-box">
                @commonInputText(forgetPassword, constants.FormField.SEED_PHRASE_2, Symbol("id") -> "phrase2", Symbol("class") -> "form-seed-box-phrase", Symbol("autocomplete") -> "off", Symbol("oninput") -> "enableNavigationButton(1)")
            </div>
            <div class="form-seed-box">
                @commonInputText(forgetPassword, constants.FormField.SEED_PHRASE_3, Symbol("id") -> "phrase3", Symbol("class") -> "form-seed-box-phrase", Symbol("autocomplete") -> "off", Symbol("oninput") -> "enableNavigationButton(1)")
            </div>
            <div class="form-seed-box">
                @commonInputText(forgetPassword, constants.FormField.SEED_PHRASE_4, Symbol("id") -> "phrase4", Symbol("class") -> "form-seed-box-phrase", Symbol("autocomplete") -> "off", Symbol("oninput") -> "enableNavigationButton(1)")
            </div>
        </div>
        <div class="mb-3 seedPhraseError">
            <div id="phraseError" class="errorMessage">
                <div class="d-flex align-items-center gap-1 errorContainer">
                    <span>
                        <i class="bi bi-exclamation-circle iconError iconSmall"></i>
                    </span>
                    <span>@Messages(constants.View.FORGOT_PASSWORD_USERNAME_ERROR)</span>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center form-information-message">
            <div class="form-information-icon">
                <i class="bi bi-info-circle iconDefault iconSmall"></i>
            </div>
            <div class="form-information-text">@Messages(constants.View.SEED_PHRASE_WARNING_MESSAGE)</div>
        </div>
        <div class="horizontal-align">
        @commonPrimaryButton(constants.View.NEXT, JavaScript(s"showHideForgotModalScreen('#forgotPasswordSetPassword', '#forgotPasswordSeedInput', 2)"), Symbol("id") -> "navigationButtonPage1")
        </div>
    </div>

    <div id="forgotPasswordSetPassword" style="display: none;
        margin-bottom: 0px;">
        <div class="mb-3 inputField">
            <div class="inputFieldBody">
                <div class="usernameAvailability">
                    <div class="fieldIcon showPassword" id="showPassword" onclick="showPassword()">
                        <span class="eyeIcon closeEye">
                            <i class="bi bi-eye-slash iconDefault"></i>
                        </span>
                        <span class="eyeIcon openEye hidden">
                            <i class="bi bi-eye iconDefault"></i>
                        </span>
                    </div>
                    @commonInputPassword(forgetPassword, constants.FormField.FORGOT_PASSWORD, Symbol("id") -> "forgotNewPassword", Symbol("onblur") -> """checkNewPassword()""", Symbol("oninput") -> "enableNavigationButton(2)")
                    <div class="error-message">
                        <div class="error-info error-info-1">
                            <span class="error-icon"></span>
                            <span class="error-text">@Messages(constants.View.NEW_PASSWORD_RULE_1)</span>
                        </div>
                        <div class="error-info error-info-2">
                            <span class="error-icon"></span>
                            <span class="error-text">@Messages(constants.View.NEW_PASSWORD_RULE_2)</span>
                        </div>
                        <div class="error-info error-info-3">
                            <span class="error-icon"></span>
                            <span class="error-text">@Messages(constants.View.NEW_PASSWORD_RULE_3)</span>
                        </div>
                        <div class="error-info error-info-4">
                            <span class="error-icon"></span>
                            <span class="error-text">@Messages(constants.View.NEW_PASSWORD_RULE_4)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="inputField" style="margin-bottom: 24px;">
            <div class="inputFieldBody">
                <div class="usernameAvailability">
                    @commonInputPassword(forgetPassword, constants.FormField.FORGOT_CONFIRM_PASSWORD, Symbol("id") -> "forgotNewConfirmPassword", Symbol("oninput") -> "checkPasswords(); enableNavigationButton(2);")
                    @commonFieldErrorMessage(id = "repeatPasswordError", message = Messages(constants.View.REPEAT_PASSWORD_MISMATCH))
                </div>
            </div>
        </div>
    </div>

    <div id="forgotPasswordSuccess" style="display: none;
        margin-bottom: 0px;">
        @successModal(heading = constants.View.FORGOT_PASSWORD_SUCCESS_TITLE, subHeading = constants.View.FORGOT_PASSWORD_SUCCESS_SUBTITLE)
        <div class="form-button">
            <button class="form-primary-button">@Messages(constants.View.SIGN_IN)</button>
        </div>
    </div>
}
<script src="@utilities.PublicResource.getVersionedRoute("javascripts/account/forgotPassword.js")" type="text/javascript"></script>