@import views.html.base.form._
@import views.account.companion.SignOut

@(signOutForm: Form[SignOut.Data] = SignOut.form)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<div class="logoutContainer">
    @commonForm(constants.Form.SIGN_OUT, signOutForm, showSubtitle = false, submitDisable = false) {
        <p>@Messages(constants.View.SIGN_OUT_CONFIRMATION)</p>
        @commonCheckbox(signOutForm, constants.FormField.RECEIVE_NOTIFICATIONS, Symbol("class") -> "mt-4 am-checkbox")
    }
</div>
