@import views.account.companion.VerifyMnemonics
@import views.html.base.form._

@(walletMnemonicsForm: Form[VerifyMnemonics.Data] = VerifyMnemonics.form, username: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div>
    @commonForm(constants.Form.VERIFY_WALLET_MNEMONICS, walletMnemonicsForm, refreshOverlay = true, showScreen = "#walletMnemonics", hideScreen = "#verificationForm") {

        <div class="mb-3">
            <div class="inputField">
                <div class="inputFieldBody">
                    <div class="usernameAvailability">
                    @commonInputText(walletMnemonicsForm, constants.FormField.CONFIRM_USERNAME, Symbol("value") -> username, Symbol("readonly") -> "readonly")
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="inputField">
                <div class="inputFieldBody">
                    <div class="usernameAvailability">
                    @commonInputText(walletMnemonicsForm, constants.FormField.WALLET_ADDRESS)
                    </div>
                </div>
            </div>
        </div>
        @commonInputText(walletMnemonicsForm, constants.FormField.USERNAME, Symbol("value") -> username, Symbol("containerDivClass") -> "hidden")

        <div class="mb-3">
            <div class="inputField">
                <div class="inputFieldBody">
                    <div class="usernameAvailability">
                        <div class="fieldIcon showPassword" id="showPassword" onclick="showPassword()">
                            <span class="eyeIcon closeEye">
                                <i class="bi bi-eye-slash iconDefault"></i>
                            </span>
                            <span class="eyeIcon openEye hidden">
                                <i class="bi bi-eye iconDefault"></i>
                            </span>
                        </div>
                        @commonInputPassword(walletMnemonicsForm, constants.FormField.SIGNUP_PASSWORD, Symbol("id") -> "signUpPassword", Symbol("onblur") -> "checkNewPassword()")
                        <div class="error-message">
                            <div class="error-info error-info-1">
                                <span class="error-icon"></span>
                                <span class="error-text">@Messages(constants.View.NEW_PASSWORD_RULE_1)</span>
                            </div>
                            <div class="error-info error-info-2">
                                <span class="error-icon"></span>
                                <span class="error-text">@Messages(constants.View.NEW_PASSWORD_RULE_2)</span>
                            </div>
                            <div class="error-info error-info-3">
                                <span class="error-icon"></span>
                                <span class="error-text">@Messages(constants.View.NEW_PASSWORD_RULE_3)</span>
                            </div>
                            <div class="error-info error-info-4">
                                <span class="error-icon"></span>
                                <span class="error-text">@Messages(constants.View.NEW_PASSWORD_RULE_4)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="inputField">
                <div class="inputFieldBody">
                    <div class="usernameAvailability">
                        @commonInputPassword(walletMnemonicsForm, constants.FormField.SIGNUP_CONFIRM_PASSWORD, Symbol("id") -> "signUpConfirmPassword", Symbol("oninput") -> """checkPasswords();""")
                        @commonFieldErrorMessage(id = "repeatPasswordError", message = Messages(constants.View.REPEAT_PASSWORD_MISMATCH))
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3 form-copy-item">
            <div class="form-copy-text">@Messages(constants.View.CONFIRM_RECOVERY_PHRASE)</div>
        </div>
        <div class="d-flex mb-3 form-seed-box-list">
            <div class="form-seed-box">
            @commonInputText(walletMnemonicsForm, constants.FormField.SEED_PHRASE_1, Symbol("class") -> "form-seed-box-phrase", Symbol("autocomplete") -> "off")
            </div>
            <div class="form-seed-box">
            @commonInputText(walletMnemonicsForm, constants.FormField.SEED_PHRASE_2, Symbol("class") -> "form-seed-box-phrase", Symbol("autocomplete") -> "off")
            </div>
            <div class="form-seed-box">
            @commonInputText(walletMnemonicsForm, constants.FormField.SEED_PHRASE_3, Symbol("class") -> "form-seed-box-phrase", Symbol("autocomplete") -> "off")
            </div>
            <div class="form-seed-box">
            @commonInputText(walletMnemonicsForm, constants.FormField.SEED_PHRASE_4, Symbol("class") -> "form-seed-box-phrase", Symbol("autocomplete") -> "off")
            </div>
        </div>
        <div class="d-flex align-items-center form-information-message">
            <div class="form-information-icon">
                <i class="bi bi-info-circle iconDefault iconSmall"></i>
            </div>
            <div class="form-information-text">@Messages(constants.View.PHRASE_VERIFICATION_WARNING)</div>
        </div>
    }
</div>