@import views.html.base.modal._
@import views.html.base.buttons._

@(username: String, address: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@successModal(heading = constants.View.CREATE_WALLET_SUCCESS_TITLE, subHeading = constants.View.CREATE_WALLET_SUCCESS_SUBTITLE)
@successModalAddressBox(Symbol("userName") -> username, Symbol("address") -> address)
<div class="d-flex align-items-center gap-2 mt-3 form-information-message">
    <div class="form-information-icon">
        <i class="bi bi-info-circle iconDefault iconSmall"></i>
    </div>
    <div class="form-information-text">@Messages(constants.View.CREATE_WALLET_SUCCESS_INFO)</div>
</div>
<div class="horizontal-align">
    @defining(s"https://twitter.com/intent/tweet?text=I just claimed my username ${username} on MantlePlace @AssetMantle $$MNTL. Claim yours at &url=https://marketplace.assetmantle.one&hashtags=DID&hashtags=InterNFT") { uri =>
        <a href='@uri' target="_blank">
            <button class="form-secondary-button">
                <span>
                    <img src="@routes.Assets.versioned("images/icon/twitterYellow.png")" class="icon"/>
                </span>
            </button>
        </a>
    }
    @commonModalPrimaryButton(constants.View.SIGN_IN, constants.Form.SIGN_IN_WITH_CALLBACK.get)
</div>