@mixin setFont($type, $style, $weight, $size, $lineHeight, $color){
  font-family: $type;
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $lineHeight;
  color: $color;
}
.icon{
  height: 20px;
  width: 20px;
}
.copyIcon{
  height: 24px;
  width: 21px;
}
.iconContainer{
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.whitelistSeparator{
  height: 2px;
  width: calc(100% + 18px);
  background-color: #383838;
  margin: 24px -9px 24px;
}
.profileSettingsContainer{
  width: 100%;
  height: fit-content;
  background-color: var(--card-color);
  border-radius: 20px;
  margin-bottom: 100px;
  padding: 20px;
  .title{
    @include setFont(var(--font-type-1), normal, 600, 20px, 24px, var(--mantle-off-white));
    text-transform: capitalize;
  }
  .subTitle{
    @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--text-medium));
    margin-top: 12px;
  }
  .basicInformation,
  .walletInformation{
    background: var(--card-dark);
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    .containerTitle{
      @include setFont(var(--font-type-2), normal, 600, 18px, 22px, var(--mantle-off-white));
    }
    .infoField{
      padding: 20px 0px;
      border-bottom: 1px solid var(--line-2);
      .fieldLabel{
        @include setFont(var(--font-type-2), normal, 700, 14px, 17px, var(--inactive-gray));
        text-transform: capitalize;
      }
      .fieldValue{
        @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--mantle-off-white));
        word-break: break-word;
      }

    }
    .walletInfoField{
      padding: 20px 0px 0px;
      display: block;
      .fieldLabel{
        @include setFont(var(--font-type-2), normal, 700, 14px, 17px, var(--inactive-gray));
        text-transform: capitalize;
        cursor: pointer;
        word-break: break-all;
      }
      .fieldValue{
        @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--mantle-off-white));
        word-break: break-word;
      }
      .iconContainer{
        height: 24px;
        width: 21px;
        cursor: pointer;
      }

    }
  }
  .walletInformation{
    .walletInfoField{
      padding: 20px 0px;
      border-bottom: 1px solid var(--line-2);
      .fieldLabel{
        @include setFont(var(--font-type-2), normal, 700, 14px, 17px, var(--inactive-gray));
        text-transform: capitalize;
        transition: all 0.5s ease;
        cursor: auto;
        label{
          cursor: pointer !important;
        }
      }
      .fieldValue{
        @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--text-medium));
        transition: all 0.5s ease;
        label{
          cursor: pointer !important;
        }
        .start{
          @include setFont(var(--font-type-2), normal, 700, 16px, 17px, var(--text-medium));
        }
        .end{
          @include setFont(var(--font-type-2), normal, 700, 12px, 17px, var(--text-medium));
        }
      }
      .walletAddressItem{
        input[type="radio"]{
          cursor: pointer;
          appearance: none;
          width: 20px;
          height: 20px;
          box-shadow: 0.984848px 0.984848px 1.9697px rgba(0, 0, 0, 0.2), inset -0.984848px -0.984848px 1.9697px rgba(255, 255, 255, 0.2), inset 0.984848px 0.984848px 1.38889px rgba(168, 168, 168, 0.7);
          border: 2px solid var(--icon-white);
          border-radius: 50%;
          transform: translateY(-0.075em);
          display: grid;
          place-content: center;
          &::before{
            content: "";
            width: 12px;
            height: 12px;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em var(--default);
          }
          &:checked{
            border-color: var(--default);
          }
          &:checked::before{
            transform: scale(1);
          }
          &:focus{
            outline: none;
          }
          &.activeKey{
            border-color: var(--default);
            &::before{
              transform: scale(1);
            }
          }
        }
      }
      &.active{
        .fieldLabel{
          @include setFont(var(--font-type-2), normal, 600, 16px, 19px, var(--default));
        }
        .fieldValue{
          @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--mantle-off-white));
        }
      }
    }
    .addNewWalletBtn{
      display: inline-flex !important;
      cursor: pointer;
      margin-top: 20px;
      .btnMessage{
        @include setFont(var(--font-type-2), normal, 400, 14px, 17px, #848484);
      }
    }
  }
  @media (max-width: 768px){
    margin-bottom: 0px;
  }
}
.toggleBtn{
  position: relative;
  right: 0;
  button{
    box-shadow: none !important;
    border: 2px solid var(--line);
    background: var(--popup-bg);
    @include setFont(var(--font-type-2), normal, 400, 12px, 14px, var(--text-medium));
    &:first-child{
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child{
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    &:hover{
      background: var(--dark);
      border: 2px solid var(--line);
    }
    &.active{
      background: var(--dark);
      border: 2px solid var(--line);
      @include setFont(var(--font-type-2), normal, 400, 12px, 14px, var(--card-color));
    }
  }
}
.showHideSeeds,
#pasteSeeds{
  span{
    @include setFont(var(--font-type-2), normal, 700, 14px, 17px, var(--text-medium));
  }
  img{
    cursor: pointer;
  }
}
.seedsSection1{
  margin-bottom: 0px !important;
  &.active{
    margin-bottom: 32px !important;
  }
}
.seedsSection2{
  display: none;
  margin-bottom: 32px !important;
  &.active{
    display: block;
  }
}

.menuToolTip {
  position: relative;
  display: inline-block;
}
.menuToolTip .tooltiptext {
  display: none;
  visibility: hidden;
  width: 312px;
  background: var(--card-dark);
  color: #fff;
  border-radius: 10px;
  border: 2px solid #383838;
  padding: 24px;
  position: absolute;
  z-index: 951;
  top: 125%;
  right: -20px;
  opacity: 0;
  transition: opacity 0.3s;
}
.menuToolTip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 12px;
  margin-left: -5px;
  border-width: 9px;
  border-style: solid;
  border-color: transparent transparent #222 transparent;
}
@media (max-width: 1200px) {
  .menuToolTip .tooltiptext {
    right: -190px;
  }
  .menuToolTip .tooltiptext::after {
    right: 182px;
  }
}
@media (max-width: 576px){
  .menuToolTip .tooltiptext{
    width: 250px;
    right: -36px;
  }
  .menuToolTip .tooltiptext::after {
    right: 28px;
  }
}
@media (max-width: 435px){
  .menuToolTip .tooltiptext{
    width: 250px;
    right: -182px;
  }
  .menuToolTip .tooltiptext::after {
    right: 173px;
  }
}
@media (max-width: 400px){
  .menuToolTip .tooltiptext{
    right: -162px;
    width: 225px;
  }
  .menuToolTip .tooltiptext::after {
    right: 153px;
  }
}
.menuToolTip.active .tooltiptext{
  display: inline-block;
  visibility: visible;
  opacity: 1;
}
.menuToolTip
{
  .tooltiptext{
    .menuOption{
      .option{
        padding: 16px 0px 16px 8px;
        border-bottom: 2px solid #383838;
        text-transform: capitalize;
        &:first-child{
          padding: 0px 0px 16px 8px;
        }
        &:last-child{
          padding: 16px 0px 0px 8px;
          border-bottom: none;
        }
      }
    }
  }
}

// Custom Radio Button
.options {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.options .option input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.options .option {
  cursor: pointer;
  width: 48.5%;
}

.options .option .optionContent{
  background: var(--button-text);
  display: flex;
  padding: 20px;
  border-radius: 10px;
  min-height: 160px;
  height: 100%;
}

.options .option .optionDetails span {
  @include setFont(var(--font-type-2), normal, 600, 16px, 19px, var(--inactive-gray));
  text-transform: capitalize;
}

.options .option .optionDetails p {
  @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--inactive-gray));
  margin-top: 32px;
  margin-bottom: 12px;
}

.options .option input[type="radio"]:checked + .optionContent{
  border: 1px solid var(--dark);
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.options .option input[type="radio"]:checked + .optionContent .optionDetails span{
  @include setFont(var(--font-type-2), normal, 600, 16px, 19px, var(--dark));
}

@media screen and (max-width: 991px) {
  .options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 12px;
  }

  .options .option {
    width: 100%;
  }

  .options .option .optionContent .optionDetails {
    width: 70%;
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {
  .options .option .optionContent .optionDetails {
    width: 60%;
    display: inline-block;
  }
}

@media screen and (max-width: 540px) {
  .options .option .optionContent .optionDetails {
    width: 100%;
  }

  .options .option .optionContent {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}

// Disclaimer
#disclaimerScreen{
  .disclaimerMessage{
    @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--inactive-gray));
    margin-top: 16px;
  }
}

// Add To Wishlist Button
.addToWishlist{
  border: none;
  background: none;
  transition: transform 0.4s ease;
  &:hover{
    cursor: pointer;
  }
  &:active{
    transform: scale(1.3);
  }
  .heartIcon {
    width: 18px;
    height: 18px;
    path {
      fill: none;
      stroke-width: 2;
      stroke: var(--icon-white);
    }
  }
  &.clicked {
    .heartIcon {
      path {
        fill: var(--default);
        stroke-width: 0;
      }
    }
  }
}

// Center Container
.centerContainer{
  width: 100%;
  height: fit-content;
  background-color: var(--card-color);
  border-radius: 20px;
  margin-bottom: 100px;
  .centerCard{
    background-color: var(--card-color);
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    .contentContainer{
      border-radius: 0px;
      .header-with-icon{
        .form-top{
          .title-text{
            @include setFont(var(--font-type-1), normal, 600, 20px, 24px, var(--default));
            text-transform: capitalize;
          }
        }
      }
      .contentSubHeader{
        .subHeader{
          @include setFont(var(--font-type-2), normal, 600, 18px, 22px, var(--mantle-off-white));
        }
        .filterOption{
          .filterTitle{
            @include setFont(var(--font-type-2), normal, 700, 14px, 17px, var(--mantle-off-white));
            text-transform: capitalize;
          }
        }
      }
      .contentHeader{
        .leftOptions {
          @include setFont(var(--font-type-1), normal, 400, 14px, 17px, var(--gray));
          list-style: none;
          text-transform: capitalize;
          .row{
            .col{
              cursor: pointer;
            }
            .col.active{
              font-weight: 700;
              color: var(--default);
            }
          }
        }
        .headerTitle{
          @include setFont(var(--font-type-2), normal, 600, 18px, 22px, var(--mantle-off-white));
          text-transform: capitalize;
        }
      }
      .contentTitle{
        text-transform: capitalize;
        .title{
          @include setFont(var(--font-type-1), normal, 400, 16px, 19px, var(--gray));
          padding: 2px 12px;
          border-radius: 20px;
          background-color: var(--card-dark);
        }
        .titleMenu{
          a{
            @include setFont(var(--font-type-2), normal, 600, 16px, 19px, var(--mantle-off-white));
            background: radial-gradient(50% 50% at 50% 50%, #FFC640 47.4%, #F2AF13 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
          .toggleBtn{
            button{
              width: 70px;
            }
          }
          .sortBtn{
            @include setFont(var(--font-type-2), normal, 700, 14px, 16px, var(--mantle-off-white));
          }
        }
      }
      .contentBody{
        background-color: var(--card-dark);
        width: 100%;
        //height: fit-content;
        height: 500px;
        min-height: 500px;
        border-radius: 10px;
        margin-top: 20px;
        &.emptyBody{
          height: 500px;
          min-height: 500px;
        }
        .emptyWhitelist{
          .message{
            @include setFont(var(--font-type-2), normal, 600, 18px, 22px, var(--mantle-off-white));
          }
        }
        .contentTableContainer{
          padding: 20px 6px 20px 6px;
          .contentTable{
            border-collapse: collapse;
            width: 100%;
            overflow-x: auto;
            display: block;
            thead{
              //display: block;
              tr{
                border-color: var(--line-2);
                th{
                  @include setFont(var(--font-type-2), normal, 700, 14px, 17px, var(--mantle-off-white));
                  text-transform: capitalize;
                  min-width: 140px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 140px;
                  display: table-cell;
                  vertical-align: middle;
                  padding: 20px 20px 20px 0px !important;
                }

              }
            }
            tbody{
              //display: block;
              overflow-y: auto;
              overflow-x: hidden;
              height: fit-content;
              max-height: 550px;
              tr{
                border-color: var(--line-2);
                td{
                  @include setFont(var(--font-type-2), normal, 400, 12px, 14px, var(--gray));
                  min-width: 140px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 140px;
                  display: table-cell;
                  vertical-align: middle;
                  padding: 20px 20px 20px 0px !important;
                  .statusCircle{
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    &:first-child{
                      margin-right: 4px;
                    }
                    &.onGoing{
                      background: var(--connected);
                      box-shadow: 1.41818px 1.41818px 2.83636px rgba(0, 0, 0, 0.2), inset -1.41818px -1.41818px 2.83636px rgba(0, 0, 0, 0.2), inset 1.41818px 1.41818px 2.83636px #61A956;
                    }
                    &.ended{
                      background: var(--error);
                      box-shadow: 0.531818px 0.531818px 1.06364px rgba(0, 0, 0, 0.2), inset -0.531818px -0.531818px 1.06364px rgba(0, 0, 0, 0.2), inset 0.531818px 0.531818px 1.06364px #EC6969;
                    }
                    &.statusGray{
                      background: var(--gray);
                      box-shadow: 0.531818px 0.531818px 1.06364px rgba(0, 0, 0, 0.2), inset -0.531818px -0.531818px 1.06364px rgba(0, 0, 0, 0.2), inset 0.531818px 0.531818px 1.06364px var(--gray);
                    }
                  }
                  &.whitelistActionButton{
                    img{
                      margin-left: 20px;
                      cursor: pointer;
                    }
                  }
                  &.tableFieldName{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: var(--dark);
                    white-space: nowrap;
                  }
                  &.tableFieldDescription{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  }
                }
              }
            }
          }
          #whitelistRequestsSent{
            display: none;
            &.show{
              display: block;
            }
          }
          #whitelistRequestsReceived{
            display: none;
            &.show{
              display: block;
            }
          }

          .searchBox{
            position: relative;
            width: 100%;
            input{
              @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--mantle-off-white));
              box-sizing: border-box;
              padding: 10px 12px;
              margin-top: 8px;
              letter-spacing: 1px;
              width: 100%;
              height: 36px;
              border: 1px solid var(--inactive-gray);
              border-radius: 8px;
              background-color: transparent;
              outline: none;
              display: block;
              &::placeholder{
                color: var(--inactive-gray);
                text-transform: capitalize;
              }
              &:focus{
                border-color: var(--dark);
              }
              &:not(:focus){
                color: var(--inactive-gray);
                border-color: var(--gray);
              }
            }
            .autocomplete-items{
              position: absolute;
              width: 100%;
              height: fit-content;
              max-height: 500px;
              overflow-y: auto;
              background-color: var(--card-color);
              border:1px solid var(--dark);
              padding: 6px 0px 6px 0px;
              border-radius: 0px 0px 8px 8px;
              &>div{
                @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--gray));
                padding: 6px 12px 6px 10px;
                strong{
                  color: var(--mantle-off-white);
                }
              }
              &::-webkit-scrollbar{
                margin-right: 10px;
              }
            }
          }
          .whitelistMembers{
            overflow-y: auto;
            height: fit-content;
            max-height: 530px;
            .singleMemberName{
              @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--dark));
              text-align: center;
              display: inline-block;
              background: rgba(242, 175, 19, 0.1);
              border: 1px solid var(--dark);
              border-radius: 24px;
              margin-right: 12px;
              //margin-bottom: 16px;
            }
          }
          &#offeredNFTsList{
            .contentTable{
              tbody{
                display: inline-block;
                max-height: 385px;
                overflow-y: auto;
                height: fit-content;
              }
            }
          }
        }
        #createdWhitelists{
          .tableFieldNo{min-width: 50px;}
          .tableFieldName{min-width: 130px;max-width: 130px;}
          .tableFieldDescription{ min-width: 150px;}
          .tableFieldStatus{min-width: 90px;}
          .tableFieldTotalMembers{min-width: 120px;}
          .tableFieldMaxMembers{min-width: 120px;}
          .tableFieldStartEpoch{min-width: 160px;}
          .tableFieldEndEpoch{min-width: 160px;}
          .tableFieldSale{min-width: 140px;}
          .tableFieldAction{min-width: 100%;width:100%;padding:20px !important; i{cursor: pointer;}}
        }
        #joinedWhitelist{
          .tableFieldNo{min-width: 50px;}
          .tableFieldName{min-width: 180px;max-width: 180px;}
          .tableFieldStartEpoch{min-width: 180px;}
          .tableFieldEndEpoch{min-width: 180px;}
          .tableFieldStatus{min-width: 50px;}
          .tableFieldTotalMembers{min-width: 120px;}
          .tableFieldMaxMembers{min-width: 115px;}
          .tableFieldSale{min-width: 130px;}
          .tableFieldAction{min-width: 100%;width:100%;padding:20px !important; i{cursor: pointer;}}
        }
        #whitelistRequests,
        #offersHistory{
          .tableFieldNo{min-width: 50px;}
          .tableFieldName{min-width: 130px;max-width: 130px;}
          .tableFieldStatus{min-width: 90px;}
          .tableFieldTotalMembers{min-width: 120px;}
          .tableFieldMaxMembers{min-width: 110px;}
          .tableFieldSale{min-width: 140px;}
          .tableFieldRequestStatus{min-width: 120px;
            &.statusPending{color: var(--disable);}
            &.statusAccepted{color: var(--connected);}
            &.statusDeclined{color: var(--error);}
          }
          .tableFieldOfferName{min-width: 200px;}
          .tableFieldPrice{min-width: 50px;}
          .tableFieldDuration{min-width: 280px;}
        }
        #offeredNFTsList{
          .tableFieldNo{min-width: 50px;}
          .tableFieldNftName{min-width: 180px;max-width: 180px;}
          .tableFieldCollectionName{min-width: 180px;max-width: 180px;}
          .tableFieldSaleStart{min-width: 195px;}
          .tableFieldSaleEnd{min-width: 195px;}
          tbody{
            tr {
              td{
                &.tableFieldNftName{
                  @include setFont(var(--font-type-2), normal, 400, 12px, 14px, var(--dark));
                  cursor: pointer;
                }
              }
            }
          }
        }
        #whitelistOffersList{
          .tableFieldNo{min-width: 50px;}
          .tableFieldName{min-width: 250px;max-width: 250px;}
          .tableFieldStatus{min-width: 100px;}
          .tableFieldDuration{min-width: 420px;}
          tbody{
            tr {
              td{
                &.tableFieldName{
                  cursor: pointer;
                }
              }
            }
          }
        }
        #userTransactions{
          .tableFieldHash{min-width: 360px;max-width: 360px;}
          .tableFieldType{min-width: 210px;}
          .tableFieldDuration{min-width: 136px;}
          .tableFieldStatus{min-width: 100px;}
          tbody{
            tr {
              td{
                &.tableFieldHash{
                  @include setFont(var(--font-type-2), normal, 400, 12px, 14px, var(--dark));
                  cursor: pointer;
                  a {
                    @include setFont(var(--font-type-2), normal, 400, 12px, 14px, var(--dark));
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
        #tradeSellOrders,
        #tradeYourOrders{
          .tableFieldAction{min-width: 60px;}
          .tableFieldName{min-width: 335px; max-width: 335px;}
          .tableFieldPrice{min-width: 140px;}
          .tableFieldAmount{min-width: 140px;}
          .tableFieldTotal{min-width: 140px;}
          tbody{
            tr {
              td{
                padding: 8px 8px 8px 0px !important;
                &.tableFieldAction{
                  padding-left: 20px !important;
                }
                &.tableFieldName{
                  color: var(--gray);
                }
                &.tableFieldPrice{
                  color: var(--error);
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px){
    margin-bottom: 0px;
  }
}


// Dropdown Menu
.dropdownContainer {
  position: relative;
  max-width: 100%;
  text-align: center;
  z-index: 200;
  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
    opacity: 0;
    pointer-events: none;
  }
  .dropdown:checked + label:before,
  .dropdown:not(:checked) + label:before{
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    cursor: auto;
    pointer-events: none;
  }
  .dropdown:checked + label:before{
    pointer-events: auto;
  }
  .dropdown:not(:checked) + label.forDropdown{
    cursor: pointer;
  }
  .dropdown:not(:checked) + label.forDropdown img{
    margin-left: 4px;
    transition: transform 0.3s ease;
  }
  .dropdown:checked + label.forDropdown img{
    transform: rotate(180deg);
    margin-left: 4px;
    transition: transform 0.3s ease;
  }
  .sectionDropdown {
    position: absolute;
    padding: 24px;
    background-color: var(--card-dark);
    border: 2px solid var(--line-2);
    border-radius: 20px;
    top: 35px;
    left: calc(100% - 50px);
    min-width: 314px;
    width: 100%;
    display: block;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: all 0.3s ease;
    &:before {
      position: absolute;
      top: -20px;
      left: 0;
      width: 100%;
      height: 20px;
      content: '';
      display: block;
      z-index: 1;
    }
    &:after {
      position: absolute;
      top: -8px;
      left: 30px;
      width: 0;
      height: 0;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 9px solid var(--card-dark);
      content: '';
      display: block;
      z-index: 2;
      transition: all 0.3s ease;
    }
    a{
      @include setFont(var(--font-type-2), normal, 600, 16px, 19px, var(--icon-white));
      padding-left: 8px;
      transition: all 0.3s ease;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      justify-content: space-between;
      -ms-flex-pack: distribute;
      cursor: pointer;
    }
    .dropdownSub:checked + label,
    .dropdownSub:not(:checked) + label{
      @include setFont(var(--font-type-2), normal, 600, 16px, 19px, var(--icon-white));
      transition: all 0.3s ease;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      justify-content: space-between;
      -ms-flex-pack: distribute;
      cursor: pointer;
    }
    .sectionDropdownSub{
      position: relative;
      display: block;
      width: 100%;
      pointer-events: none;
      opacity: 0;
      max-height: 0;
      padding-left: 10px;
      padding-right: 3px;
      overflow: hidden;
      transition: all 0.3s ease;
    }
    .dropdownSub:checked ~ .sectionDropdownSub{
      pointer-events: auto;
      opacity: 1;
      max-height: 999px;
    }
  }
  .dropdown:checked ~ .sectionDropdown{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
  .separator{
    height: 2px;
    width: calc(100% + 41px);
    background-color: var(--line-2);
    margin: 20px -20px 20px;
  }
  .innerSeparator{
    height: 2px;
    width: 100%;
    background-color: var(--line-2);
    margin: 12px 0px;
  }
}

// Whitelist Success Modal
.whitelistInfo{
  &.form-address-box{
    font-size: 14px;
    .form-address-box-item{
      .address-box-label{
        white-space: nowrap;
      }
      .address-box-text{
        height: 30px;
        .username-data{
          @media (max-width: 600px) {
            width: 80px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
.whitelistInfoFooter{
  a{
    color: var(--dark);
  }
}
.whitelistMemberList{
  color:var(--dark);
  @include setFont(var(--font-type-2), normal, 600, 16px, 19px, var(--icon-white));
  text-transform: capitalize;
  background: radial-gradient(50% 50% at 50% 50%, #FFC640 47.4%, #F2AF13 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.whitelistFormInfo{
  .whitelistName{
    @include setFont(var(--font-type-1), normal, 600, 20px, 24px, var(--dark));
    text-transform: capitalize;
  }
  .copyInfo{
    span{
      @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--text-medium));
    }
  }
}
.whitelistFieldMessage{
  @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--text-medium));
}
.emptyCreated,
.emptyWishlist,
.emptyOfferList,
.emptyOwnedList,
.emptyMemberList,
.emptyCollectionOnSaleList{
  background-color: var(--card-dark);
  width: 100%;
  border-radius: 10px;
  height: 500px;
  min-height: 500px;
  .message{
    @include setFont(var(--font-type-2), normal, 600, 18px, 22px, var(--mantle-off-white));
  }
}

.draftCollection{
  position: relative;
  &:before{
    content: '';
    width: 66px;
    height: 26px;
    position: absolute;
    background-image: url("../images/icon/draftBadge.png");
    background-size: cover;
    left: 0;
    top: 20px;
    z-index: 99;
  }
  .draftOption{
    position: absolute;
    z-index: 99;
    bottom: 60px;
    right: 16px;
    cursor: pointer;
  }
}

/* Left/Right Info Card  */
.leftInfoCard,
.rightInfoCard{
  height: fit-content;
  background-color: var(--card-color);
  border-radius: 20px;
  padding: 16px;
  .title{
    @include setFont(var(--font-type-2), normal, 700, 14px, 17px, var(--mantle-off-white));
    text-transform: capitalize;
  }
  .description{
    @include setFont(var(--font-type-2), normal, 400, 12px, 14px, var(--gray));
    margin-top: 20px;
  }
  .separator{
    height: 2px;
    width: calc(100% + 32px);
    background-color: #383838;
    margin: 16px -16px 16px;
  }
  a, .icon{
    height: 22px;
    width: 22px;
  }
  .profileHeader{
    .profileImage{
      position: relative;
      img{
        height: 150px;
        width: 150px;
        aspect-ratio: 1;
        border-radius: 50%;
      }
      img.accountTypeBadge{
        height: 35px;
        width: 35px;
        position: absolute;
        bottom: 18px;
        right: 18px;
      }
    }
    .profileName{
      @include setFont(var(--font-type-2), normal, 600, 18px, 22px, var(--mantle-off-white));
    }
  }
  .userAddressBox {
    background-color: var(--card-dark);
    border-radius: 8px;
    line-height: 0;

    .userAddressData {
      @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--mantle-off-white));
      word-break: break-word;
    }

    .copyIcon {
      padding: 4px 0 0 0;
      cursor: pointer;
    }
  }
  .joinedDate{
    @include setFont(var(--font-type-2), normal, 400, 12px, 14px, var(--disable));
  }
  .profileDescription{
    @include setFont(var(--font-type-2), normal, 400, 12px, 14px, var(--inactive-gray));
    margin-top: 12px;
  }
  .profileStatsBox{
    background-color: var(--card-dark);
    padding: 16px;
    border-radius: 10px;
    .statsTitle{
      @include setFont(var(--font-type-2), normal, 400, 12px, 14px, var(--gray));
      word-break: break-word;
    }
    .statsValue{
      @include setFont(var(--font-type-1), normal, 400, 28px, 34px, var(--mantle-off-white));
    }
  }
}

.rightInfoCard{
  .title{
    @include setFont(var(--font-type-2), normal, 700, 14px, 17px, var(--mantle-off-white));
    text-transform: none;
  }
  .notification{
    .singleNotification{
      .notificationTitle{
        @include setFont(var(--font-type-2), normal, 700, 14px, 17px, var(--mantle-off-white));
        text-transform: capitalize;
      }
      .notificationImage{
        width: 28px;
        height: 28px;
        border-radius: 4px;
      }
      .notificationDescription{
        @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--inactive-gray));
        word-break: break-word;
      }
      .notificationDateTime{
        @include setFont(var(--font-type-2), normal, 500, 12px, 14px, var(--disable));
        word-break: break-word;
      }
      .notificationLink{
        margin-right: -10px;
        word-break: break-word;
      }
      .transactionDetailLink{
        @include setFont(var(--font-type-1), normal, 500, 12px, 14px, var(--text-medium));
      }
    }
    .loadOlderButton{
      @include setFont(var(--font-type-1), normal, 700, 14px, 17px, var(--dark));
      text-transform: capitalize;
    }
  }
  .accordion{
    --bs-accordion-bg: var(--card-color);
    .accordion-item{
      border: none;
      .accordion-header{
        .accordion-button{
          @include setFont(var(--font-type-2), normal, 700, 12px, 14px, var(--mantle-off-white));
          padding: 0px;
          outline: none;
          box-shadow: none;
          &:not(.collapsed){
            background-color: var(--card-color);
          }
          &::after{
            background-image: url("../images/icon/downArrowYellow.png");
            margin-top: 2px;
          }
        }
      }
      .accordion-body{
        padding: 0px;
        .activityImage{
          width: 28px;
          height: 28px;
          aspect-ratio: 1;
          border-radius: 8px;
        }
        .activityDetail{
          @include setFont(var(--font-type-2), normal, 400, 12px, 14px, var(--text-medium));
          word-break: break-word;
        }
      }
    }
  }
}