@mixin setFont($type, $style, $weight, $size, $lineHeight, $color) {
  font-family: $type;
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $lineHeight;
  color: $color;
}

.icon {
  height: 20px;
  width: 20px;
}

.primaryButton {
  @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--button-text));
  text-align: center;
  text-transform: capitalize;
  max-width: 100px;
  width: 100%;
  height: 36px;
  overflow: hidden;
  position: relative;
  z-index: 950;
  border: 1px solid var(--dark);
  border-radius: 32px;
  padding: 9px 0;
  background-color: var(--default);

  &:hover {
    box-shadow: 0px 0px 10px rgba(255, 201, 66, 0.5);
  }
}

.secondaryButton {
  @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--dark));
  text-align: center;
  text-transform: capitalize;
  width: 100px;
  height: 36px;
  border-radius: 32px;
  background-color: transparent;
  border: 1px solid var(--dark);
  overflow: hidden;
  position: relative;
  z-index: 950;

  &:hover {
    box-shadow: 0px 0px 10px rgba(255, 201, 66, 0.3);
  }
}

.separator {
  height: 2px;
  width: calc(100% + 41px);
  background-color: #383838;
  margin: 20px -20px 20px;
}

.innerSeparator {
  height: 2px;
  width: 100%;
  background-color: #383838;
  margin: 16px 0px;
}

.headerWithBackButton {
  .headerTitle {
    @include setFont(var(--font-type-2), normal, 600, 16px, 19px, var(--mantle-off-white));
  }
}

.right-menu .links li.menuItem .walletPopup {
  text-transform: none;
  width: 312px;
  position: absolute;
  left: -170px;
  top: 90px;
  transform: translateX(-73px);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  cursor: auto;

  &.active {
    top: 70px;
    opacity: 1;
    visibility: visible;
    //transition: all 0.3s ease;
  }

  .detailContainer {
    margin: 24px 0px 12px 0px;

    .userDetails {
      .userName {
        @include setFont(var(--font-type-2), normal, 600, 18px, 22px, var(--mantle-off-white));
      }

      .userBalance {
        @include setFont(var(--font-type-2), normal, 600, 14px, 17px, var(--text-medium));

        .start {
          @include setFont(var(--font-type-2), normal, 700, 16px, 17px, var(--text-medium));
        }

        .end {
          @include setFont(var(--font-type-2), normal, 700, 12px, 17px, var(--text-medium));
        }
      }
    }

    .userAddressBox {
      background-color: var(--card-dark);
      border-radius: 8px;
      line-height: 0;

      .userAddressData {
        @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--mantle-off-white));
        word-break: break-word;
      }

      .copyIcon {
        padding: 4px 0 0 0;
        cursor: pointer;
      }
    }

    .walletMessage {
      @include setFont(var(--font-type-2), normal, 400, 12px, 14px, var(--gray));
      margin-bottom: 32px;
    }

    .bottomOption {
      a {
        width: 32px;
        height: 0px;
        line-height: 0px;
      }
    }

    .menuList {
      .menuItem {
        height: 16px;
        a {
          height: 0px;
          .profileMenuLabel{
            @include setFont(var(--font-type-2), normal, 600, 16px, 19px, var(--mantle-off-white));
            text-transform: capitalize;
          }
        }
      }
    }
  }

  .nftLink {
    div {
      line-height: 0px;
      @include setFont(var(--font-type-2), normal, 600, 16px, 19px, var(--mantle-off-white));
      text-transform: capitalize;
    }
  }

  .icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  #openWalletMenu {
    cursor: pointer;
  }

  .walletMenu {
    height: 460px;
    width: 254px;
    position: absolute;
    right: -255px;
    top: 1px;
    z-index: 999;
    background: var(--card-dark);
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    line-height: 0px;
    transition: right 0.3s ease;

    &.open {
      right: 0px;
    }

    .topMenu {
      margin-top: 24px;

      .menuItem {
        @include setFont(var(--font-type-2), normal, 600, 18px, 22px, var(--mantle-off-white));
        cursor: pointer;
      }
    }

    .bottomMenu {
      padding-bottom: 20px;

      .menuItem {
        @include setFont(var(--font-type-2), normal, 600, 18px, 22px, var(--mantle-off-white));
        cursor: pointer;
      }
    }
  }


}

#walletBackDrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: 9998;
  cursor: auto;
  backdrop-filter: blur(5px);
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

// User Profile Menu
.right-menu .links li.userProfile {
  .profileMenu {
    text-transform: none;
    background: var(--popup-bg);
    border: 2px solid var(--popup-stroke);
    border-radius: 20px;
    height: fit-content;
    width: 312px;
    position: absolute;
    left: -175px;
    top: 90px;
    transform: translateX(-73px);
    //z-index: -1;
    z-index: 99;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    cursor: auto;

    &::before {
      content: '';
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 9px solid var(--popup-bg);
      position: absolute;
      top: -11px;
      right: 30px;
    }

    .detailContainer {
      margin: 12px;

      .userDetails {
        margin-bottom: 32px;

        .userName {
          @include setFont(var(--font-type-2), normal, 600, 18px, 22px, var(--mantle-off-white));
        }

        .userBalance {
          @include setFont(var(--font-type-2), normal, 400, 12px, 14px, var(--text-medium));
        }
      }

      .profileMenuItem {
        padding: 16px 0px !important;
        border-bottom: 2px solid #383838;
        cursor: pointer;

        .profileItemLink {
          gap: 12px;

          .profileMenuLabel {
            @include setFont(var(--font-type-2), normal, 600, 16px, 19px, var(--mantle-off-white));
            text-transform: capitalize;
          }
        }

        &:last-child {
          padding-bottom: 0px !important;
          border: none;
        }
      }

    }
  }

  &:hover {
    .profileMenu {
      top: 70px;
      opacity: 1;
      visibility: visible;
    }
  }
}

#modal-content {
  .walletPopupContainer {
    border: none;
    margin: -32px;
    border-radius: 10px;
  }
}

.walletPopupContainer {
  background: var(--popup-bg);
  border: 2px solid var(--popup-stroke);
  border-radius: 0 0 20px 20px;
  padding: 16px;
  position: relative;
  overflow: hidden;

  .cardContainer {
    background-color: var(--card-dark);
    padding: 12px 16px;
    border-radius: 8px;
    .label{
      @include setFont(var(--font-type-1), normal, 500, 14px, 17px, var(--text-medium));
      margin-bottom: 16px;
    }
    .userDetails {
      background-color: var(--popup-bg);
      padding: 6px;
      border-radius: 8px;
      .userName {
        @include setFont(var(--font-type-2), normal, 600, 18px, 22px, var(--mantle-off-white));
      }
    }
  }
  .userBalance {
    @include setFont(var(--font-type-2), normal, 700, 14px, 17px, var(--mantle-off-white));

    .start {
      @include setFont(var(--font-type-2), normal, 700, 16px, 17px, var(--mantle-off-white));
    }

    .end {
      @include setFont(var(--font-type-2), normal, 700, 12px, 17px, var(--mantle-off-white));
    }
  }
  .primaryIconButton{
    width: 100%;
    padding: 6px 12px;
    background-color: var(--default);
    border-radius: 32px;
    line-height: 0;
    cursor: pointer;
    @include setFont(var(--font-type-2), normal, 600, 16px, 19px, var(--card-dark));
    text-transform: capitalize;
    a{
      @include setFont(var(--font-type-2), normal, 600, 16px, 19px, var(--card-dark));
      text-transform: capitalize;
      i {
        color: var(--card-dark) !important;
      }
    }
  }
  .secondaryIconButton{
    width: 100%;
    padding: 6px 12px;
    border: 1px solid var(--default);
    border-radius: 32px;
    line-height: 0;
    cursor: pointer;
    @include setFont(var(--font-type-2), normal, 600, 16px, 19px, var(--default));
    text-transform: capitalize;
    a{
      i {
        color: var(--default) !important;
      }
    }
  }

  .userAddressBox {
    padding: 10px 4px;
    line-height: 0;
    .userAddressData {
      @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--mantle-off-white));
      word-break: break-word;
      cursor: pointer;
    }

    .copyIcon {
      padding: 4px 0 0 0;
      cursor: pointer;
    }
  }

  .buttons {
    line-height: 0px;
  }

  .tertiaryButton{
    @include setFont(var(--font-type-2), normal, 600, 16px, 19px, var(--radial));
  }

  .addressBook {
    height: 100%;
    width: 260px;
    position: absolute;
    right: -260px;
    top: 1px;
    z-index: 1000;
    background: var(--card-dark);
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
    line-height: 0px;
    transition: right 0.3s ease;
    border-left: 2px solid var(--popup-stroke);

    &.open {
      right: 0px;
    }

    .walletAddressList {
      height: 286px;
      overflow-y: auto;
      padding-right: 8px;
      margin-bottom: 18px;

      .walletAddressItem {
        padding: 12px 0px;
        border-bottom: 2px solid var(--line);

        .walletAddressLabel {
          @include setFont(var(--font-type-2), normal, 400, 14px, 17px, var(--mantle-off-white));
          display: inline-block;
          cursor: pointer;
          transition: all 0.3s;
        }

        input[type="radio"] {
          cursor: pointer;
          appearance: none;
          width: 20px;
          height: 20px;
          box-shadow: 0.984848px 0.984848px 1.9697px rgba(0, 0, 0, 0.2), inset -0.984848px -0.984848px 1.9697px rgba(255, 255, 255, 0.2), inset 0.984848px 0.984848px 1.38889px rgba(168, 168, 168, 0.7);
          border: 2px solid var(--icon-white);
          border-radius: 50%;
          transform: translateY(-0.075em);
          display: grid;
          place-content: center;

          &::before {
            content: "";
            width: 12px;
            height: 12px;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em var(--default);
          }

          &:checked {
            border-color: var(--default);

            + label {
              @include setFont(var(--font-type-2), normal, 600, 16px, 19px, var(--default));
            }
          }

          &:checked::before {
            transform: scale(1);
          }

          &:focus {
            outline: none;
          }
        }
      }
    }

    .bottomMenu {
      .primaryButton {
        @include setFont(var(--font-type-2), normal, 600, 16px, 19px, var(--button-text));
        width: 100%;
        border: none;
        box-shadow: none;
        cursor: pointer;
        max-width: 100%;
      }
    }
  }
}