@(heading: String = "", subHeading: String = "")(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

<div class="header-success">
    <div class="d-flex">
        <div class="text-center form-success-icon">
            <img class="checkmark" src="@routes.Assets.versioned("images/icon/errorIcon.png")" height="80px" width="80px" style="margin-left: 20px;"/>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()">
                    &times;
        </button>
    </div>
    <div class="form-body">
        <div class="mt-4 text-center">
            <div class="form-success-message-heading">@Messages(heading)</div>
            @if(subHeading != "") {
                <div class="mt-2 form-success-message-sub-text">@Messages(subHeading)</div>
            }
        </div>
    </div>
</div>