@(arguments: (Symbol, Any)*)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
<div class="form-address-box">
    <div class="form-address-box-item">
        @if(arguments.toMap.get('userName).map(_.toString).isDefined){
                <span class="address-box-label">@Messages(constants.View.TOOLTIP_USERNAME)</span>
                <span class="address-box-text">
                    <span class="username-data" data-value="@arguments.toMap.get(Symbol("userName")).map(_.toString).getOrElse("")">@arguments.toMap.get(Symbol("userName")).map(_.toString).getOrElse("")</span>
                    <span class="form-copy-icon" onclick="copyToClipboard(this)">
                        <i class="bi bi-files iconDefault iconMedium"></i>
                    </span>
                    <span class="form-copy-message">@Messages(constants.View.TOOLTIP_COPIED)</span>
                </span>
        }
        @if(arguments.toMap.get(Symbol("address")).map(_.toString).isDefined){
            <span class="address-box-label">@Messages(constants.View.TOOLTIP_PASSWORD)</span>
            <span class="address-box-text">
                <span class="username-data" data-value="@arguments.toMap.get(Symbol("address")).map(_.toString).getOrElse("")">@arguments.toMap.get(Symbol("address")).map(_.toString).getOrElse("")</span>
                <span class="form-copy-icon" onclick="copyToClipboard(this)">
                    <i class="bi bi-files iconDefault iconMedium"></i>
                </span>
                <span class="form-copy-message">@Messages(constants.View.TOOLTIP_COPIED)</span>
            </span>
        }
    </div>
</div>