@import controllers.actions.LoginState

@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState] = None)
@views.html.base.common(constants.View.HOME)
<link rel="stylesheet" media="screen" href="@utilities.PublicResource.getVersionedRoute("stylesheets/pageNotFound.css")"/>

<div class="errorPageContainer">
    <div class="imageContainer">
        <img src="@routes.Assets.versioned("images/404.png")"/>
    </div>
    <div class="text-center errorTitle">@Messages(constants.View.ERROR_PAGE_TITLE)</div>
    <div class="text-center errorDescription">@Messages(constants.View.ERROR_PAGE_DESCRIPTION)</div>
    <div class="text-center horizontal-align">
        @views.html.base.buttons.commonPrimaryCallButton(constants.View.ERROR_PAGE_GO_TO_EXPLORE_BUTTON, routes.CollectionController.viewCollections())
    </div>
</div>
