@import controllers.actions.LoginState
@import views.html.base.{commonAddressValue, commonStringValue}

@(accountId: String, address: String, accountType: String, createdOn: Long)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])

<div class="sticky-top item-sticky">
    <div class="card leftInfoCard">
        <div class="d-flex flex-column align-items-center profileHeader">
            <div class="profileName">
                @commonStringValue(message = accountId, id = utilities.IdGenerator.getRandomHexadecimal, length = 12)
            </div>
            <div class="profileImage">
                <img src="@routes.Assets.versioned("images/profile/tier_0.png")"/>
                @if(accountType == constants.Account.Type.GENESIS_CREATOR) {
                    <img src="@routes.Assets.versioned("images/profile/accountTypeBadge_1.png")" class="accountTypeBadge"/>
                }
            </div>
        </div>
        <div class="row p-2 mx-0 mt-3 justify-content-between align-items-center userAddressBox">
            <div class="col-10 p-0 userAddressData username-data" data-value="@address">
            @commonAddressValue(message = address, id = utilities.IdGenerator.getRandomHexadecimal, length = 5)
            </div>
            <div class="col-2 text-end copyIcon" onclick="copyToClipboard(this);
            showSnackbar('', '@Messages(constants.View.ADDRESS_COPIED)', '@Messages(constants.View.NOTIFICATION_TITLE_INFO)');">
                <i id="openWalletMenu" class="bi bi-files iconDefault iconMedium"></i>
            </div>
        </div>
        <div class="mt-2 joinedDate">@Messages(constants.View.PROFILE_JOINED_DATE_LABEL)
        <span id="joinedTimeEpoch_@accountId">@createdOn</span>
        </div>
    </div>
</div>
<script>
    epochToDate('joinedTimeEpoch_@accountId');
</script>