@import controllers.actions.LoginState
@import views.html.base.buttons._

@(totalCollected: Int, totalCollectionCreated: Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])
<div class="sticky-top item-sticky">
    <div class="card rightInfoCard">
        <div class="d-flex flex-column gap-3">
            <div class="profileStatsBox">
                <div class="d-flex gap-2 align-items-center">
                    <img src="@routes.Assets.versioned("images/icon/totalNFTWhite.png")" class="icon"/>
                    <div class="statsTitle">@Messages(constants.View.PROFILE_STATS_TITLE_TOTAL_NFT_COLLECTED)</div>
                </div>
                <div class="mt-1 statsValue">@totalCollected</div>
            </div>
            <div class="profileStatsBox">
                <div class="d-flex gap-2 align-items-center">
                    <img src="@routes.Assets.versioned("images/icon/totalCollectionWhite.png")" class="icon"/>
                    <div class="statsTitle">@Messages(constants.View.PROFILE_STATS_TITLE_TOTAL_COLLECTION)</div>
                </div>
                <div class="mt-1 statsValue">@totalCollectionCreated</div>
            </div>
@*            <div class="profileStatsBox">*@
@*                <div class="d-flex gap-2 align-items-center">*@
@*                    <img src="@routes.Assets.versioned("images/icon/totalSalesWhite.png")" class="icon"/>*@
@*                    <div class="statsTitle">@Messages(constants.View.PROFILE_STATS_TITLE_TOTAL_SALES)</div>*@
@*                </div>*@
@*                <div class="mt-1 statsValue">00</div>*@
@*            </div>*@


            <div class="d-flex justify-content-center">
            @commonTertiaryButton(constants.Form.REVEAL_PROPERTY.button, JavaScript(s"getForm(${utilities.JsRoutes.getJsRouteString(constants.Form.REVEAL_PROPERTY.get, "")})"), None, None, None)
            </div>
        </div>
    </div>
</div>